<% javascript :defaults, 'delegate' %>

<%= error_messages_for :labour, :labtoparcelle, :labtofacture,
						:header_message => "Problemes lors de l'enregistrement", 
						:message => "corriger les erreurs suivantes" 
%>
						
<% form_for @labour do |labour_form| -%>

<% content_for :jstemplates do -%>
	<%= "var labtoparcelle='#{generate_template(labour_form, :labtoparcelles)}'" %>
	<%= "var labtofacture='#{generate_template(labour_form, :labtofactures)}'" %>
<% end -%>

<% unless User.find_by_name('Trochet').nil? %>
	<% selected = User.find_by_name('Trochet').id %>
<% end %>

<table>
	<%= form_tr_text(labour_form, 'Nom', :name) %>
	<%= form_tr_date(labour_form, 'Date', :date ) %>
	<%= form_tr_select(labour_form, 'Prestataire', 
						:user_id, 
						User.find(:all, :order => :name), 
						:id, :name, 
						:selected => selected) %>
	<%= form_tr_select(labour_form, 'Categorie', :category_id, Category.find_by_type("labour"), :id, :name) %>
	<%= form_tr_text_area(labour_form, 'Infos', :desc, :size => "20x1") %>	
	
<% if @labour.cout_ha_passage %>
	<tr>
		<td>Cout total : </td>
		<td><%= @labour.get_cout_total %></td>
	</tr>
<% end %>
</table>

<br>
<fieldset>
  <legend>Passage</legend>
	<table>
		
		<%= form_tr_text(labour_form, 'Cout du passage', 
										:cout_ha_passage, 
										:unit => '€/Ha', 
										:value => (@labour.cout_ha_passage || 0), 
										:size => 4) %>
	</table>
</fieldset>
<br>

<br>
<fieldset>
  <legend>Parcelles</legend>
  
<div id="labtoparcelles">
	<% labour_form.fields_for :labtoparcelles do |labtoparcelle_form| %>
		<% unless labour_form.object.new_record? %>
			<%= render :partial => 'labtoparcelle', :locals => { :f => labtoparcelle_form } %>
		<% end %>
	<% end %>
</div>
<p>
<%= link_to 'Ajouter une parcelle', '#labtoparcelle', :class => "add_nested_item", :rel => "labtoparcelles" %>
</p>
</fieldset>
<br>

<fieldset>
  <legend>Factures</legend>
  
<div id="labtofactures">
	<% labour_form.fields_for :labtofactures do |labtofacture_form| %>
		<% unless labour_form.object.new_record? %>
			<%= render :partial => 'labtofacture', :locals => { :f => labtofacture_form } %>
		<% end %>
	<% end %>
</div>
<p>
<%= link_to 'Ajouter une facture', '#labtofacture', :class => "add_nested_item", :rel => "labtofactures" %>
</p>

</fieldset>
<br>

<%= labour_form.submit "Enregistrer" %>
</p>
<% end -%>
