<tr>
	<th id="nom">Ventes</th>
	<td></td>	
	<% if @show[:date_surface] %> 
		<td></td>	
		<td></td>	
	<% end %>
	<td class="saison"></td>
	<td class="saison"></td>
	<% td_number_after_saison(@colonnes.length, @show[:cout_ha], @show[:cout_total]).times do %>
		<td></td>
	<% end %>
</tr>	

<% unless (@ventes.size == 0) %>

	<% @ventes.each do |vente| %>
		<% datas = @test.res.get_saison_line_datas(@test.sid, :ventes, vente.id) %>
	
		<tr>
			<td class="left"><b><%= datas[:category_name] %></b></td>
			<td class="left"><%= link_popup_vente(datas[:id]) %></td>
			<% if @show[:date_surface] %> 
				<td><%= datas[:date].to_s :dmy %></td>	
				<td>
					<%= datas[:parcelles_length] %> p - 
					<%= datas[:surface_total] %> ha
				</td>
			<% end %>
			<td class="saison"><%= @test.res.get_saison_line(@test.sid, :ventes, :all, vente.id, :ha).display(:z => true) %></td>
			<td class="saison"><%= @test.res.get_saison_line(@test.sid, :ventes, :all, vente.id, :total).display(:z => true) %></td>
		
			<% rang = 0 %>
			<% @colonnes.each do |colonne| %>
				<% rang += 1 %>
				<% cout_ha = @test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :all, vente.id, :ha).display(:z => true) %>
				<% cout_total = @test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :all, vente.id, :total).display(:z => true) %>
				<% if @show[:cout_ha] %>
					<td class="<%= odd(rang) %>"><%=h cout_ha %></td>
				<% end %>
				<% if @show[:cout_total] %>
					<td class="<%= odd(rang) %>"><%=h cout_total %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>

	<!--Sous Total Vente "category" (Avoir, foin, ble, ...) -->
	<% if @show[:total_cat] %>
		<tr>
			<td>Total par Categorie</td>
			<td></td>	
			<% if @show[:date_surface] %> 
				<td></td>	
				<td></td>	
			<% end %>
			<td class="saison"></td>
			<td class="saison"></td>
			<% td_number_after_saison(@colonnes.length, @show[:cout_ha], @show[:cout_total]).times do %>
				<td></td>
			<% end %>
		</tr>	
		<% for cat in @vente_categories %>
			<tr class="subtotal">
				<td class="left">Categorie</td>
				<td class="left"><b><%= cat.name %></b></td>
				<td class="saison"><%= @test.res.get_saison_line(@test.sid, :ventes, :category, cat.id, :ha).display(:z => true) %></td>
				<td class="saison"><%= @test.res.get_saison_line(@test.sid, :ventes, :category, cat.id, :total).display(:z => true) %></td>
				<% rang = 0 %>
				<% @colonnes.each do |colonne| %>
					<% rang += 1 %>
					<% cout_ha = @test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :category, cat.id, :ha).display(:z => true) %>
					<% cout_total = @test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :category, cat.id, :total).display(:z => true) %>
					<% if @show[:cout_ha] %>
						<td class="<%= odd(rang) %>"><%=h cout_ha %></td>
					<% end %>
					<% if @show[:cout_total] %>
						<td class="<%= odd(rang) %>"><%=h cout_total %></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	<% end %>


<tr class="total">
	<td class="left"><b>Total Ventes</b></td>
	<td></td>	
	<% if @show[:date_surface] %> 
		<td></td>	
		<td></td>	
	<% end %>
	<td class="saison"><%= @test.res.get_other_line_for_saison(@test.sid, :resultats, :total_ventes, :ha).display(:z => true) %></td>
	<td class="saison"><%= @test.res.get_other_line_for_saison(@test.sid, :resultats, :total_ventes, :total).display(:z => true) %></td>	
	<% rang = 0 %>
	<% @colonnes.each do |colonne| %>
		<% rang += 1 %>
		<% cout_ha = @test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :total_ventes, :ha).display(:z => true) %>
		<% cout_total = @test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :total_ventes, :total).display(:z => true) %>
		<% if @show[:cout_ha] %>
			<td class="<%= odd(rang) %>_subtotal"><%=h cout_ha %></td>
		<% end %>
		<% if @show[:cout_total] %>
			<td class="<%= odd(rang) %>_subtotal"><%=h cout_total %></td>
		<% end %>
	<% end %>
</tr>
<% end %>