

<h3>verif des sommes</h3>

<!-- DEPENSES -->
<h4>Pulves</h4>

<!-- test 1 : calcul a partir des données DB -->
<% sum_pulve_passage_tmp = 0 %>
<% sum_pulve_produit_tmp = 0 %>
<% sum_surface_tmp = 0 %>
<% sum_pulve_passage = 0 %>
<% sum_pulve_produit = 0 %>
<% sum_surface_all = 0 %>
<% sum_from_Hparcelles = 0 %>


<% for parcelle in Parcelle.find(:all) %>
	<% sum_surface_all += parcelle.surface %>
<% end %>

<% for pulve in Pulve.find(:all) %>
	<% sum_pulve_passage_tmp = 0 %>
	<% sum_pulve_produit_tmp = 0 %>
	<% sum_surface_tmp = 0 %>
	<!-- total de la surface affectée a cette labour dans sum_surface_tmp -->
	<% if pulve.parcelles.length.equal?(0) %>
		<% sum_surface_tmp = sum_surface_all %>
	<% else %>
		<% for parcelle in pulve.parcelles %>
			<% sum_surface_tmp += parcelle.surface %>
		<% end %>
	<% end %>
	
	<!-- valeur du cout du passage de cette pulve -->
	<% sum_pulve_passage_tmp += sum_surface_tmp * pulve.cout_ha_passage %>
	<!-- valeur du cout du produit de cette pulve -->
	<% sum_pulve_produit_tmp += sum_surface_tmp * pulve.dosage * pulve.prix_littre %>
	
	<!-- totaux -->
	<% sum_pulve_passage += sum_pulve_passage_tmp %>
	<% sum_pulve_produit += sum_pulve_produit_tmp %>
	<% sum_pulve = sum_pulve_produit + sum_pulve_passage %>
<% end %>
		
<!-- test 2 : somme des @Hparcelles[:pulves] -->
<% for parcelle in @parcelles %>
	<% sum_from_Hparcelles += @Hparcelles[parcelle.id][:pulves][:cout_total] %>
<% end %>

<table class="table_print">	
	<tr>
		<td>somme surfaces</td>
		<td><%= sum_surface_all %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>nombre de parcelles</td>
		<td><%= @parcelles.length %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>total pulves</td>
		<td><%= print_popup(@Hpulves[:cout_total], "@Hpulves[:cout_total]") %></td>
		<td><%= print_popup(sum_pulve, "somme realisée dans basic_verify_5.html") %></td>
		<td><%= print_popup(sum_from_Hparcelles, "@Hparcelles[parcelle.id][:total][:cout_total]") %></td>
	</tr>
</table>

<!-- FACTURES -->
<h4>factures</h4>

<% sum_factures = 0 %>
<% for facture in Facture.find(:all) %>
	<% sum_factures += facture.cout %>
<% end %>
<table class="table_print">	
	<tr>
		<td>total facture</td>
		<td><%= print_popup(@Hfactures[:cout_total], "@Hfactures[:cout_total]") %></td>
		<td><%= print_popup(sum_factures, "Facture.find(:all) sum cout") %></td>
	</tr>
</table>

<!-- TOTAL -->
<h4>Total</h4>

<% for parcelle in @parcelles %>
	<%= parcelle.name %> :
	<%= @Hparcelles[parcelle.id][:total][:cout_total] %><br>
<% end %>


<br><br><br>
_________________________
<br>
<%=h @Hpulves.inspect %>	
<br>
_________________________
