- @coul[:cat] = Hash.new
- @coul[:cat][1] = 'black'
- @coul[:cat][2] = '#b45f06'
- @coul[:cat][3] = '#1155cc'

- @fontsize = Hash.new
- @fontsize[:cat] = Hash.new
- @fontsize[:cat][1] = '14'
- @fontsize[:cat][2] = '12'
- @fontsize[:cat][3] = '10'

- v_charges = sum_factures[:total]
- v_ca = sum_ventes[:total]
- v_res_global = v_ca - v_charges
- v_res_ss_maison = v_ca - sum_factures[:prix][:agri] - sum_factures[:prix][:invest]
- v_res_ss_invest = v_ca - sum_factures[:prix][:agri]

- vide = []
- ca = []
- resultats = []
- res_global = []
- res_ss_maison = []
- res_ss_invest = []

- vide << ' ' << ''<< '' << '' << '' << '' << '' << ''  << '' << '' << ''
- ca 				<< "" << "Chiffre d'Affaire" 	<< "" << "" << "#{number_with_delimiter(v_ca, :delimiter => "", :separator => ",")}" 				<< "" << "" << ""  << "" << "" << ""
- resultats 		<< "" << "Resultats" 			<< "" << '' << "" 					<< '' << '' << ''  << '' << '' << ''
- res_global 		<< "" << "global" 			<< "" << '' << "#{number_with_delimiter(v_res_global, :delimiter => "", :separator => ",")}" 		<< '' << '' << ''  << '' << '' << ''
- res_ss_maison 	<< "" << "sans maison" 			<< "" << '' << "#{number_with_delimiter(v_res_ss_maison, :delimiter => "", :separator => ",")}" 	<< '' << '' << ''  << '' << '' << ''
- res_ss_invest 	<< "" << "sans investissement" 	<< "" << '' << "#{number_with_delimiter(v_res_ss_invest, :delimiter => "", :separator => ",")}" 	<< '' << '' << ''  << '' << '' << ''

- i = 0
%row{}
	- vide.size.times do
		%column{:content => "#{vide[i]}"}
		- i = i + 1

- i = 0
%row{:fontweight => "bold", :fontsize => "#{@fontsize[:cat][1]}", :color => @coul[:cat][1]}
	- ca.size.times do
		%column{:content => "#{ca[i]}"}
		- i = i + 1

- i = 0
%row{}
	- vide.size.times do
		%column{:content => "#{vide[i]}"}
		- i = i + 1

- i = 0
%row{:fontweight => "bold", :fontsize => "#{@fontsize[:cat][1]}", :color => @coul[:cat][1]}
	- resultats.size.times do
		%column{:content => "#{resultats[i]}"}
		- i = i + 1

- i = 0
%row{:fontweight => "bold", :fontsize => "#{@fontsize[:cat][2]}", :color => "grey"}
	- res_global.size.times do
		%column{:content => "#{res_global[i]}"}
		- i = i + 1

- i = 0
%row{:fontweight => "bold", :fontsize => "#{@fontsize[:cat][2]}", :color => "grey"}
	- res_ss_maison.size.times do
		%column{:content => "#{res_ss_maison[i]}"}
		- i = i + 1

- i = 0
%row{:fontweight => "bold", :fontsize => "#{@fontsize[:cat][2]}", :color => "grey"}
	- res_ss_invest.size.times do
		%column{:content => "#{res_ss_invest[i]}"}
		- i = i + 1
