<tr>
	<th id="nom">Pulves</th>
	<% td_number(@colonnes.length, @show[:cout_ha], @show[:cout_total]).times do %>
			<td></td>
	<% end %>
</tr>	
<% unless (((@pulves.class == Array) && @pulves.size == 0) || (@pulves.nil?)) %>
	<% if @show[:pulves] %>
		<% @pulves.each do |pulve| %>
			<% datas = @test.res.get_saison_line_datas(@test.sid, :pulves, pulve.id) %>
			<tr>
				<td class='left'><strong><%= datas[:category_name] %></strong></td>
				<td class='left'><%= link_popup_pulve(datas[:id]) %></td>
				<td><%= datas[:date].to_s :dmy %></td>	
				<td>
					<%= datas[:parcelles_length] %> p - 
					<%= datas[:surface_total].display %> ha
				</td>
				<td>
					<%= datas[:cout_ha_passage].display %>+<%= datas[:cout_ha_produit].display %>=
					<%= @test.res.get_saison_line(@test.sid, :pulves, :all, pulve.id, :ha).display %>
				</td>
				<td><%= @test.res.get_saison_line(@test.sid, :pulves, :all, pulve.id, :total).display %></td>
		
				<% rang = 0 %>
				<% @colonnes.each do |colonne| %>
					<% rang += 1 %>
					<% cout_ha = @test.res.get_line(@test.sid, @test.c, colonne.id, :pulves, :all, pulve.id, :ha).display %>
					<% cout_total = @test.res.get_line(@test.sid, @test.c, colonne.id, :pulves, :all, pulve.id, :total).display %>
					<% if @show[:cout_ha] %>
						<td class="<%= odd(rang) %>"><%=h cout_ha %></td>
					<% end %>
					<% if @show[:cout_total] %>
						<td class="<%= odd(rang) %>"><%=h cout_total %></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	<% end %>

	<!--Sous Total Pulve "category" (desherbant, fongicide,...) -->
	<% if @show[:total_cat] %>
		<tr>
			<td>Total par Categorie</td>
			<% td_number(@colonnes.length, @show[:cout_ha], @show[:cout_total]).times do %>
					<td></td>
			<% end %>
		</tr>	
		<% for cat in @pulve_categories %>
			<tr class="subtotal">
				<td class="left">Categorie</td>
				<td class="left"><b><%= cat.name %></b></td>
				<td></td>
				<td></td>
				<td><%= @test.res.get_saison_line(@test.sid, :pulves, :category, cat.id, :ha).display %></td>
				<td><%= @test.res.get_saison_line(@test.sid, :pulves, :category, cat.id, :total).display %></td>
				<% rang = 0 %>
				<% @colonnes.each do |colonne| %>
					<% rang += 1 %>
					<% cout_ha = @test.res.get_line(@test.sid, @test.c, colonne.id, :pulves, :category, cat.id, :ha).display %>
					<% cout_total = @test.res.get_line(@test.sid, @test.c, colonne.id, :pulves, :category, cat.id, :total).display %>
					<% if @show[:cout_ha] %>
						<td class="<%= odd(rang) %>"><%=h cout_ha %></td>
					<% end %>
					<% if @show[:cout_total] %>
						<td class="<%= odd(rang) %>"><%=h cout_total %></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	<% end %>
	
	<tr class="total">
		<td>Total Pulve:	</td>
		<td></td>	
		<td></td>	
		<td></td>
		<td><%= @test.res.get_other_line_for_saison(@test.sid, :resultats, :total_pulves, :ha).display %></td>
		<td><%= @test.res.get_other_line_for_saison(@test.sid, :resultats, :total_pulves, :total).display %></td>	
		<% rang = 0 %>
		<% @colonnes.each do |colonne| %>
			<% rang += 1 %>
			<% cout_ha = pretty(@test.Tcols[colonne.id][:pulves][:ha][:sum]).display %>
			<% cout_total = pretty(@test.Tcols[colonne.id][:pulves][:total][:sum]).display %>
			<% if @show[:cout_ha] %>
				<td class="<%= odd(rang) %>_subtotal"><%=h cout_ha %></td>
			<% end %>
			<% if @show[:cout_total] %>
				<td class="<%= odd(rang) %>_subtotal"><%=h cout_total %></td>
			<% end %>
		<% end %>
	</tr>
	
<% end %>