	<tr>
		<th><%= link_to_function "Labours", "$('list_labours').toggle();" %></th>
<% td_number(@colonnes.length, @show[:cout_ha], @show[:cout_total]).times do %>
		<td></td>
<% end %>
	</tr>

<% unless (((@labours.class == Array) && @labours.size == 0) || (@labours.nil?)) %>
	<% if @show[:labours] %>
		<% @labours.each do |labour| %>
			<% dep = @test.Tlabours[labour.id] %>
					 
			<tr>
				<td class='left'><strong><%= labour.category.name %></strong></td>
				<td class='left'>
					<%= link_popup_labour(dep) %> 
					<% if labour.factures_assoc? %>
						*
					<% end %>
				</td>
				<td><%= labour.date.to_s :dmy %></td>	
				<td>
					<%= labour.parcelles.length %> p - 
					<%= pretty(dep[:surface_total]) %> ha
				</td>
				<td><%= pretty(dep[:ha]) %></td>
				<td><%= print_popup(pretty(dep[:total]), "@test.Tlabours[labour.id][:total]") %></td>
		
			<% @colonnes.each do |colonne| %>
				<% cout_ha = pretty(dep[colonne.id][:ha]) %>
				<% cout_total = pretty(dep[colonne.id][:total]) %>
				<% td_class = odd(@test.Tcols[colonne.id][:rang]) %>
				<% if @show[:cout_ha] %>
					<td class="<%= td_class %>"><%=h cout_ha %></td>
				<% end %>
				<% if @show[:cout_total] %>
					<td class="<%= td_class %>"><%=h cout_total %></td>
				<% end %>
			<% end %>
			</tr>
		<% end %>
	<% end %>

	<!--Sous Total Pulve "category" (desherbant, fongicide,...) -->
	<% if @show[:total_cat] %>
		<tr>
			<td>Total par Categorie</td>
			<% td_number(@colonnes.length, @show[:cout_ha], @show[:cout_total]).times do %>
					<td></td>
			<% end %>
		</tr>	
		<% for cat in @labour_categories %>
			<tr class="subtotal">
				<td class="left">Categorie</td>
				<td class="left"><b><%= cat.name %></b></td>
				<td></td>
				<td></td>
				<td><%= @test.Tlabours[:ha][:category][cat.id].to_s %></td>
				<td><%= @test.Tlabours[:total][:category][cat.id].to_s %></td>	
			<% @colonnes.each do |colonne| %>
				<% cout_ha = @test.Tcols[colonne.id][:labours][:category][:ha][cat.id].to_s %>
				<% cout_total = @test.Tcols[colonne.id][:labours][:category][:total][cat.id].to_s %>
				<% td_class = odd(@test.Tcols[colonne.id][:rang]) %>
				<% if @show[:cout_ha] %>
					<td class="<%= td_class %>"><%=h cout_ha %></td>
				<% end %>
				<% if @show[:cout_total] %>
					<td class="<%= td_class %>"><%=h cout_total %></td>
				<% end %>
			<% end %>
			</tr>
		<% end %>
	<% end %>
<!-- FIN Ajout pour test par type -->

	<tr class="total">
		<td id="nom">Total Labour:	</td>
		<td></td>
		<td></td>
		<td></td>
		<td><%= pretty(@test.Tlabours[:ha][:sum]) %></td>
		<td><%= pretty(@test.Tlabours[:total][:sum]) %></td>	
	<% @colonnes.each do |colonne| %>
		<% cout_ha = pretty(@test.Tcols[colonne.id][:labours][:ha][:sum]) %>
		<% cout_total = pretty(@test.Tcols[colonne.id][:labours][:total][:sum]) %>
		<% td_class = odd(@test.Tcols[colonne.id][:rang]) %>
		<% if @show[:cout_ha] %>
			<td class="<%= td_class %>_subtotal"><%=h cout_ha %></td>
		<% end %>
		<% if @show[:cout_total] %>
			<td class="<%= td_class %>_subtotal"><%=h cout_total %></td>
		<% end %>
	<% end %>
	</tr>

<% end %>