<table class="table_print">

<!-- 1 ere ligne -->
<tr>
<td><!-- Saison_id --><%#=h  @test.res.get_saison_datas(@test.sid, :id) %></td>
<td></td>
<% if @show[:date_surface] %> 
	<td></td>
	<td></td>
<% end %> 
<td colspan=2 class="saison-head-name">Total saison</td>

<% rang = 0 %>
<% @colonnes.each do |colonne| %>
	<% rang += 1 %>
	<td class="<%= odd(rang) %>-head-name" <%= print_colspan(@show[:cout_ha], @show[:cout_total]) %> >
		<%=h  @test.res.get_colonne_datas(@test.sid, @test.c, colonne.id, :name) %> <br>
		<!-- [<%=h colonne.id %>] -->
	</td>
<% end %>
</tr>	

<!-- 2eme ligne -->
<tr>
	<td>Saison : <%=h  @test.res.get_saison_datas(@test.sid, :name) %></td>
	<td></td>
	<% if @show[:date_surface] %> 
		<td></td>
		<td></td>
	<% end %> 
	<td class="saison-head-surface" colspan=2><%=h  @test.res.get_saison_datas(@test.sid, :surface).display(1) %> Ha</td>
		
<% rang = 0 %>
<% @colonnes.each do |colonne| %>
	<% rang += 1 %>
	<td class="<%= odd(rang) %>-head-surface" <%= print_colspan(@show[:cout_ha], @show[:cout_total]) %> ><b>
	<%=h  @test.res.get_colonne_datas(@test.sid, @test.c, colonne.id, :surface).display(1) %> Ha <br>
	
	<% if @test.c.to_s == "parcelles" %>
		<%=h  @test.res.get_colonne_datas(@test.sid, @test.c, colonne.id, :typeculture) %> - <br>
	<%# elsif ((@test.c.to_s == "typecultures") || (@test.c == "zones"))  %>
		<%#=h  @test.res.get_colonne_datas(@test.sid, @test.c, colonne.id, :parcelles) %> - <br>
	<% end %>	
	

	</b></td>
<% end %>
</tr>	

<!-- 3eme ligne -->
<tr>
	<td class="left"><b></b></td>
	<td class="left"><b>nom</b></td>
	<% if @show[:date_surface] %> 
		<td class=date><b>date</b></td>
		<td class="left"><b>surface</b></td>
	<% end %> 
	<td class="saison" class="left"><b>cout/ha</b></td>
	<td class="saison" class="left"><b>total</b></td>
<% rang = 0 %>
<% @colonnes.each do |colonne| %>
	<% rang += 1 %>
	<% if @show[:cout_ha] %>
		<td class="<%= odd(rang) %>">c/ha</td>
	<% end %>
	<% if @show[:cout_total] %>
		<td class="<%= odd(rang) %>">Total</td>
	<% end %>
<% end %>
	</tr>	
