<tr>
	<th id="nom">Produits</th>
	<% td_number_before_saison().times do %>
		<td></td>
	<% end %>
	<td class="saison"></td>
	<td class="saison"></td>
	<% td_number_after_saison(@colonnes.length, @show[:cout_ha], @show[:cout_total]).times do %>
		<td></td>
	<% end %>
</tr>	
<% unless (((@putoproduits.class == Array) && @putoproduits.size == 0) || (@putoproduits.nil?)) %>
<% logger.error "!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!" %>
<% if @show[:pulves] %>
<% @pulves.each do |pulve| %>
	<% pulve.putoproduits.each do |putoproduit| %>
		<% datas = @test.res.get_saison_line_datas(@test.sid, :putoproduits, putoproduit.id) %>
		<tr>
			<td class='left'><strong><%= datas[:category_name] %></strong></td>
			<td class='left'><%= link_popup_putoproduit(datas) %></td>
			<td class="date"><%= datas[:date].to_s :dmy %></td>	
			<td class='left'><%= datas[:sum_surfaces].display %> Ha</td>
			<td class="saison"><%= @test.res.get_saison_line(@test.sid, :putoproduits, :all, putoproduit.id, :ha).display %></td>
			<td class="saison"><%= @test.res.get_saison_line(@test.sid, :putoproduits, :all, putoproduit.id, :total).display %></td>

			<% rang = 0 %>
			<% @colonnes.each do |colonne| %>
				<% rang += 1 %>
				<% cout_ha = @test.res.get_line(@test.sid, @test.c, colonne.id, :putoproduits, :all, putoproduit.id, :ha).display %>
				<% cout_total = @test.res.get_line(@test.sid, @test.c, colonne.id, :putoproduits, :all, putoproduit.id, :total).display %>
				<% if @show[:cout_ha] %>
					<td class="<%= odd(rang) %>"><%=h cout_ha %></td>
				<% end %>
				<% if @show[:cout_total] %>
					<td class="<%= odd(rang) %>"><%=h cout_total %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
<% end %>
<% end %>

<!--Sous Total Pulve "category" (desherbant, fongicide,...) -->
<% if @show[:total_cat] %>
	<tr>
		<td>Total par Categorie</td>
		<% td_number_before_saison().times do %>
			<td></td>
		<% end %>
		<td class="saison"></td>
		<td class="saison"></td>
		<% td_number_after_saison(@colonnes.length, @show[:cout_ha], @show[:cout_total]).times do %>
			<td></td>
		<% end %>
	</tr>	
	<% for cat in @pulve_categories %>
		<tr class="subtotal">
			<td class="left">Categorie</td>
			<td class="left"><b><%= cat.name %></b></td>
			<td></td>
			<td></td>
			<td class="saison"><%= @test.res.get_saison_line(@test.sid, :putoproduits, :category, cat.id, :ha).display %></td>
			<td class="saison"><%= @test.res.get_saison_line(@test.sid, :putoproduits, :category, cat.id, :total).display %></td>
			<% rang = 0 %>
			<% @colonnes.each do |colonne| %>
				<% rang += 1 %>
				<% cout_ha = @test.res.get_line(@test.sid, @test.c, colonne.id, :putoproduits, :category, cat.id, :ha).display %>
				<% cout_total = @test.res.get_line(@test.sid, @test.c, colonne.id, :putoproduits, :category, cat.id, :total).display %>
				<% if @show[:cout_ha] %>
					<td class="<%= odd(rang) %>"><%=h cout_ha %></td>
				<% end %>
				<% if @show[:cout_total] %>
					<td class="<%= odd(rang) %>"><%=h cout_total %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
<% end %>
	
	<tr class="total">
		<td>Total Produits:	</td>
		<td></td>	
		<td></td>	
		<td></td>
		<td class="saison"><%= @test.res.get_other_line_for_saison(@test.sid, :resultats, :total_putoproduits, :ha).display %></td>
		<td class="saison"><%= @test.res.get_other_line_for_saison(@test.sid, :resultats, :total_putoproduits, :total).display %></td>	
		<% rang = 0 %>
		<% @colonnes.each do |colonne| %>
			<% rang += 1 %>
			<% cout_ha = @test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :total_putoproduits, :ha).display %>
			<% cout_total = @test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :total_putoproduits, :total).display %>
			<% if @show[:cout_ha] %>
				<td class="<%= odd(rang) %>_subtotal"><%=h cout_ha %></td>
			<% end %>
			<% if @show[:cout_total] %>
				<td class="<%= odd(rang) %>_subtotal"><%=h cout_total %></td>
			<% end %>
		<% end %>
	</tr>
	
<% end %>
<tr><td colspan=9>supprimer colo date et surface si bool show_pulve et labour a null</td></tr>
<tr><td colspan=9>ajouter un scroll dans ce tableau pour voir les en-tete</td></tr>
