<% title "Analytic" %>

<%= link_to "Export Excel", :action => 'export' %> | 

<%= link_to_function "Affichage", update_page { |page| page[:search].toggle } %>

</p> <div id="search" style="display: none;">
<%= render :partial => 'search' %>
</div>


<% unless @display == 0 %>
	<%= render(:partial => "p1_head") %>
	<%= render(:partial => "p2_labours") %>
	<%#= render(:partial => "p3_pulves") %>
	<%= render(:partial => "p3_putoproduits") %>
	<%= render(:partial => "p4_factures") %>
	<%= render(:partial => "p5_total") %>	
	<%= render(:partial => "p6_ventes") %>
	<%= render(:partial => "p7_benefs") %>
<% end %>

