<% title "Analytic-2" %>

<%= link_to_function "Affichage", update_page { |page| page[:search].toggle } %>

</p> <div id="search" style="display: none;">
<%= render :partial => 'calculate/categories/search' %>
</div>


<table class=table_print>
<%= render(:partial => "calculate/categories/p1_head") %>
<tr>
	<td class=col1><%= link_to 'Type', "javascript: toggleAllLevel2();" %></td>
	<td class=col2><%= link_to 'Categorie', "javascript: toggleAllLevel3();", :name => 'hide' %></td>
	<td class=col3>Facture</td>
	<td class="saison" colspan=2></td>
	<% rang = 0 %>
	<% @colonnes.each do |colonne| %>
		<% rang += 1 %>
		<td class="<%= odd(rang) %>"><b></b></td>
		<td class="<%= odd(rang) %>"><b></b></td>
	<% end %>
</tr>
<tr>
	<td class=col1></td>
	<td class=col2></td>
	<td class=col3></td>
	<td class=col4.1></td>
	<td class=col4.2></td>
	<% @colonnes.each do |colonne| %>
		<td></td>
		<td></td>
	<% end %>
</tr>

<%= render(:partial => "calculate/categories/factures") %>
<%= render(:partial => "calculate/categories/ventes") %>
<%= render(:partial => "calculate/categories/resultat") %>



</table>