
<% title "Categories" %>
<%= button_to_function 'toggle All', "toggleAll()" %>
<div class=div_contain_header_for_scroll>
	<table class=header_for_scroll>
		<tr>
		  <td class=col1><%= link_to 'Type', "javascript: toggleAllLevel2();" %></td>
		  <td class=col2><%= link_to 'Categorie', "javascript: toggleAllLevel3();", :name => 'hide' %></td>
		  <td class=col3>Facture</td>
		  <td class=col4 colspan=2>Total Saison</td>
		  <td class=col5 colspan=2>Parcelle 1</td>
		  <td class=col6 colspan=2>Parcelle 2</td>
		</tr>
	</table>
</div>

<div class=div_contain_table_scroll>
  <table class=table_scroll>
	<tr>
	  <td class=col1><%= link_to 'Type', "javascript: toggleAllLevel2();" %></td>
	  <td class=col2><%= link_to 'Categorie', "javascript: toggleAllLevel3();", :name => 'hide' %></td>
	  <td class=col3>Facture</td>
	  <td class=col4 colspan=2>Total Saison</td>
	  <td class=col5 colspan=2>Parcelle 1</td>
	  <td class=col5 colspan=2>Parcelle 1</td>
	</tr>
	<tr>
	  <td class=col1></td>
	  <td class=col2></td>
	  <td class=col3></td>
	  <td class=col4.1>col4.1</td>
	  <td class=col4.2>col4.2</td>
	  <td class=col5.1>col5.1</td>
	  <td class=col5.2>col5.2</td>
	  <td class=col5.1>col5.1</td>
	  <td class=col5.2>col5.2</td>
	</tr>
<% factcats = Factcat.find(:all) %>
<% factcats.each do |factcat| %>
	<tr class="level-1">
		<td class=col1><%= link_to factcat.name, "javascript: toggleLevel2('#{factcat.code}');" %></td>
		<td class=col2></td>
		<td class=col3></td>
		<td class=col4.1>col4.1</td>
		<td class=col4.2>col4.2</td>
		<td class=col5.1>col5.1</td>
		<td class=col5.2>col5.2</td>
		<td class=col5.1>col5.1</td>
		<td class=col5.2>col5.2</td>
	</tr>
	<% categories = Category.find(:all, :conditions => {:upcategory_id => Upcategory.find_by_name('facture').id, 
		 												:factcat_id => factcat.id}) %>
	<% categories.each do |categorie| %>
		<tr class="level-2_<%= factcat.code %>"> 
			<td class=col1></td>
			<td class=col2><%= link_to categorie.name, "javascript: toggleLevel3('level-3_#{factcat.code}.#{categorie.code}');" %></td>
			<td class=col3></td>
			<td class=col4.1></td>
			<td class=col4.2></td>
			<td class=col5.1>col5.1</td>
			<td class=col5.2>col5.2</td>
			<td class=col5.1>col5.1</td>
			<td class=col5.2>col5.2</td>
		</tr>
		<% categorie.factures.each do |facture| %>
			<tr name=visible class="level-3_<%= factcat.code %>.<%= categorie.code %>">
				<td class=col1></td>
				<td class=col2></td>
				<td class=col3><%= facture.name %></td>
				<td class=col4.1>12</td>
				<td class=col4.2>12345678</td>
				<td class=col5.1>col5.1</td>
				<td class=col5.2>col5.2</td>
				<td class=col5.1>col5.1</td>
				<td class=col5.2>col5.2</td>
			</tr>
		<% end %>
	<% end %>
<% end %>

<tr>
  <td class=col1><%= link_to 'Vente', "javascript: toggleLevel2('vente');" %></td>
  <td class=col2></td>
  <td class=col3></td>
  <td class=col4.1></td>
  <td class=col4.2></td>
  <td class=col5.1>col5.1</td>
  <td class=col5.2>col5.2</td>
</tr>

<% categories = Category.find(:all, :conditions => {:upcategory_id => Upcategory.find_by_name('vente').id }) %>
<% categories.each do |categorie| %>
	<tr class="level-2_vente">
	  <td class=col1></td>
	  <td class=col2><%= link_to categorie.name, "javascript: toggleLevel3('level-3_vente.#{categorie.code}');" %></td>
	  <td class=col3></td>
	  <td class=col4.1></td>
	  <td class=col4.2></td>
	  <td class=col5.1>col5.1</td>
	  <td class=col5.2>col5.2</td>
	</tr>
	<% categorie.ventes.each do |facture| %>
		<tr class="level-3_vente.<%= categorie.code %>">
		  <td class=col1></td>
		  <td class=col2></td>
		  <td class=col3><%= facture.name %></td>
		  <td class=col4.1></td>
		  <td class=col4.2></td>
		  <td class=col5.1>col5.1</td>
		  <td class=col5.2>col5.2</td>
		</tr>
	<% end %>
<% end %>



  </table>
</div>
