<table class=table_print>
<%= render(:partial => "calculate/xls/p1_head") %>
<% @line +=1 %>
<tr>
	<td class=col0></td>
	<td class=col1></td>
	<td class=col2></td>
	<td class=col3>Facture</td>
	<td class="saison" colspan=2></td>
	<% rang = 0 %>
	<% @colonnes.each do |colonne| %>
		<% rang += 1 %>
		<td class="color_culture_<%= colonne.code %>"><b></b></td>
		<td class="color_culture_<%= colonne.code %>"><b></b></td>
	<% end %>
</tr>
<% @line +=1 %>
<tr>
	<td class=col0></td>
	<td class=col1></td>
	<td class=col2></td>
	<td class=col3></td>
	<td class=col4.1></td>
	<td class=col4.2></td>
	<% @colonnes.each do |colonne| %>
		<td></td>
		<td></td>
	<% end %>
</tr>
	<%= render(:partial => "calculate/xls/c11_factures") %>
	<%= render(:partial => "calculate/xls/c31_ventes") %>
	<%= render(:partial => "calculate/xls/resultat") %>
</table>