<h1>Listing factypes</h1>

<table>
  <tr>
    <td>Type</td>
    <td>Affichage</td>
    <% if admin? %>
	<td></td>
    <% if root? %>
    <td></td>
	<% end %>
	<% end %>
  </tr>

<% @factypes.each do |factype| %>
  <tr>
    <td><%= factype.name %></td>
    <td><%= factype.display %></td>
    <% if admin? %>
	<td><%= link_to 'Modifier', edit_factype_path(factype) %></td>
    <% if root? %>
    <td><%= link_to 'Supprimer', factype, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New factype', new_factype_path %>