<h1>Maintenance</h1>
| <%= link_to "Accueil", {:controller => 'verifs', :action => 'index'} %>

| <%= link_to "factures", {:controller => 'verifs', :action => 'list_factures'} %>

| <%= link_to "Labtofacture", {:controller => 'verifs', :action => 'list_labtofactures'} %>
| <%= link_to "Putofacture", {:controller => 'verifs', :action => 'list_putofactures'} %>
| <%= link_to "Protofacture", {:controller => 'verifs', :action => 'list_protofactures'} %>
| <%= link_to "Putoproduit", {:controller => 'verifs', :action => 'list_putoproduits'} %>
| <%= link_to "Labtoparcelle", {:controller => 'verifs', :action => 'list_labtoparcelles'} %>
| <%= link_to "Putoparcelle", {:controller => 'verifs', :action => 'list_putoparcelles'} %>
| <%= link_to "Factoparcelle", {:controller => 'verifs', :action => 'list_factoparcelles'} %>
<br /><br />