<h1>Maintenance</h1>
| <%= link_to "Labtofacture", {:controller => 'verifs', :action => 'list_labtofactures'} %>
| <%= link_to "Putofacture", {:controller => 'verifs', :action => 'list_putofactures'} %>
| <%= link_to "Labtoparcelle", {:controller => 'verifs', :action => 'list_labtoparcelles'} %>
| <%= link_to "Putoparcelle", {:controller => 'verifs', :action => 'list_putoparcelles'} %>
| <%= link_to "Factoparcelle", {:controller => 'verifs', :action => 'list_factoparcelles'} %>
<br /><br />