<% title "Verif" %>

<%= render :partial => 'menu_verif' %>

<% unless @categories.count == 0 %>
	<table class=table_data>
	  <tr>
	    <td>Id | </td>
	    <td>Category | </td>
	    <td>Parcelle | </td>
	    <td>Value | </td>
	    <td colspan='3'></td>
	  </tr>

	<% @factoparcelles.each do |obj| %>
	  <% fac_invalid = (obj.facture.nil?) %>
	  <% parcelle_invalid = (obj.parcelle.nil?) %>
	  <tr class='list-row'>
	    <td>
	    	<% if fac_invalid || parcelle_invalid %>
				<%= image_tag('img-nok.png') %> 
			<% else %>
				<%= image_tag('img-ok.png') %>
			<% end %>
			<%= obj.id %> | 
		</td>

	    <td>
	    	<% if fac_invalid %>
				<%= obj.facour_id %> | 
			<% else %>
				<%= link_to obj.facture_id, facture_url(:id => obj.facture_id) %> |
			<% end %>
		</td>

	    <td>
	    	<% if parcelle_invalid %>
				<%= obj.parcelle_id %> | 
			<% else %>
				<%= link_to obj.parcelle_id, parcelle_url(:id => obj.parcelle_id) %> |
			<% end %>
		</td>
	    <td><%= obj.value.to_s %> | </td>
	    <td><%= link_to image_tag('img-modif.png'), edit_facture_url(:id => obj.facture_id) %> | </td>
	    <td><%= link_to image_tag('img-delete.png'), {
										:controller => :verifs, 
									 	:action =>:delete_factoparcelle,
									 	:id => obj } %> | 
		</td>
	  </tr>
	<% end %>
</table>
<% end %>
