<%= render :partial => 'menu_verif' %>

<% unless @putofactures.count == 0 %>
	<table>
	  <tr>  	
	    <td>Id | </td>
	    <td>Pulve | </td>
	    <td>Facture | </td>
	    <td>Value | </td>
	    <td colspan='3'></td>
	  </tr>

	<% @putofactures.each do |obj| %>
<% pu_invalid = (obj.pulve.nil?) %>
<% fact_invalid = (obj.facture.nil?) %>

	  <tr class='list-row'>
	    <td>
	    	<% if pu_invalid || fact_invalid %>
				<%= image_tag('img-nok.png') %> 
			<% else %>
				<%= image_tag('img-ok.png') %>
			<% end %>
			<%= obj.id %> | 
		</td>

	    <td>
	    	<% if pu_invalid %>
				<%= obj.pulve_id %> | 
			<% else %>
				<%= link_to obj.pulve_id, pulve_url(:id => obj.pulve_id) %> |
			<% end %>
		</td>

	    <td>
	    	<% if fact_invalid %>
				<%= obj.facture_id %> | 
			<% else %>
				<%= link_to obj.facture_id, facture_url(:id => obj.facture_id) %> |
			<% end %>
		</td>
	    <td><%= obj.value.to_s %> | </td>
	    <td><%= link_to image_tag('img-modif.png'), edit_pulve_url(:id => obj.pulve_id) %> | </td>
	    <td><%= link_to image_tag('img-delete.png'), {
										:controller => :verifs, 
									 	:action =>:delete_putofacture ,
									 	:id => obj } %> | 
		</td>
	  </tr>
	<% end %>
</table>
<% end %>
