<% title "Verif" %>

<%= render :partial => 'menu_verif' %>

<% unless @labtoparcelles.count == 0 %>
	<table>
	  <tr>  	
	    <td>Id | </td>
	    <td>Labour | </td>
	    <td>Parcelle | </td>
	    <td>Value | </td>
	    <td colspan='3'></td>
	  </tr>

	<% @labtoparcelles.each do |obj| %>
	  <% lab_invalid = (obj.labour.nil?) %>
	  <% parcelle_invalid = (obj.parcelle.nil?) %>

	  <tr class='list-row'>
	    <td>
	    	<% if lab_invalid || parcelle_invalid %>
				<%= image_tag('img-nok.png') %> 
			<% else %>
				<%= image_tag('img-ok.png') %>
			<% end %>
			<%= obj.id %> | 
		</td>

	    <td>
	    	<% if lab_invalid %>
				<%= obj.labour_id %> | 
			<% else %>
				<%= link_to obj.labour_id, labour_url(:id => obj.labour_id) %> |
			<% end %>
		</td>

	    <td>
	    	<% if parcelle_invalid %>
				<%= obj.parcelle_id %> | 
			<% else %>
				<%= link_to obj.parcelle_id, parcelle_url(:id => obj.parcelle_id) %> |
			<% end %>
		</td>
	    <td><%= obj.value.to_s %> | </td>
	    <td><%= link_to image_tag('img-modif.png'), edit_labour_url(:id => obj.labour_id) %> | </td>
	    <td><%= link_to image_tag('img-delete.png'), {
										:controller => :verifs, 
									 	:action =>:delete_labtoparcelle,
									 	:id => obj } %> | 
		</td>
	  </tr>
	<% end %>
</table>
<% end %>
