<% javascript :defaults, 'delegate' %>

<% form_for @vente do |f| -%>

<% content_for :jstemplates do -%>
	<%= "var ventoparcelle='#{generate_template(f, :ventoparcelles)}'" %>
	<%= "var ventoproduit='#{generate_template(f, :ventoproduits)}'" %>
<% end -%>

<table class=form_layout>

	<!-- GENERAL -->
	<tr class=form_layout_title>
		<td class=form_layout_title_left>Vente</td>
		<td class=form_layout_title_right>Classement</td>
	</tr>
	<tr class=form_layout_content>
		<td class=form_layout_content_left>
			<table class=form_layout_content_table>
				<%= form_tr_text(f, 'Nom', :name) %>
				<% if @action.eql?('new') %>
					<%= form_tr_text(f, 'Prix total', 
									:prix,
									:unit => euro,
									:prix => (@vente.prix || 0),
									:size => 4) %>
				<% end %>
				<% if @action.eql?('edit') %>
					<% if @vente.calcul_auto.eql?(1) %>
						<%= form_tr_text(f, 'Prix total', 
									:prix,
									:unit => euro,
									:prix => (@vente.prix || 0),
									:size => 4,
									:disable => true) %>
					<% else %>
						<%= form_tr_text(f, 'Prix total', 
									:prix,
									:unit => euro,
									:prix => (@vente.prix || 0),
									:size => 4) %>
					<% end %>
				<% end %>
				<%= form_tr_check(f, 'Prix auto', :calcul_auto) %>
				
				<%= form_tr_text(f, 'Quantite', 
									:quantite,
									:unit => select_vente_units(f, :unit),
									:quantite => (@vente.quantite || 0),
									:size => 4) %>
													
				<%= form_tr_text(f, 'Prix Unitaire', 
									:prix_unitaire,
									:unit => "#{euro}/unité",
									:prix_unitaire => (@vente.prix_unitaire || 0),
									:size => 4) %>
				<%= form_tr_text(f, 'Ajustement', 
									:ajust,
									:unit => euro,
									:ajust => (@vente.ajust || 0),
									:size => 4) %>

				<%= form_tr_select(f, 'Prestataire', 
									:user_id, 
									User.find(:all, :order => :name), 
									:id, :name) %>
				
				<tr><td>Calcul Prix auto = </td><td>(quantite x prix unitaire) + ajustement</td></tr>
			</table>
		</td>
		<td class=form_layout_content_right>
			<table class=form_layout_content_table>
				<%= form_tr_select(f, 'Saison', :saison_id, Saison.find(:all, :order => :name), :id, :name, :selected => current_saison_id) %>
<%= form_tr_select_cat_from_tree(f, @vente.class.to_s.downcase, Category.root_vente, 'Catégorie', :category_id, :id, :name, @vente) %>
				<%#= form_tr_select(f, 'Categorie', :category_id, Category.ventes_cats, :id, :name) %>
				<%= form_tr_date(f, 'Date', :date) %>
				<%= form_tr_check(f, 'Stock', :stock) %>
				<%= form_tr_check(f, 'Star', :star) %>
				<%= form_tr_check(f, 'ADU', :adu) %>
				<%= form_tr_text(f, 'Ref client', :ref_client) %>
				<%= form_tr_text(f, 'Ref perso', :ref) %>
			</table>
		</td>
	</tr>

	<!-- PARCELLES & CULTURES -->
	<tr class=form_layout_title>
		<td class=form_layout_title_left>Parcelles <span class=link><%= link_to 'Ajouter une parcelle', '#ventoparcelle', :class => "add_nested_item", :rel => "ventoparcelles" %></span></td>
		<td class=form_layout_title_right>Cultures</td>
	</tr>
	<tr class=form_layout_content>
		<td class=form_layout_content_left>
			<div id="ventoparcelles">
				<% f.fields_for :ventoparcelles do |ventoparcelle_form| %>
					<% unless f.object.new_record? %>
						<%= render :partial => 'ventoparcelle', :locals => { :f => ventoparcelle_form } %>
					<% end %>
				<% end %>
			</div>
		</td>
		<td class=form_layout_content_right>
			<div class="typeculture">
			  <table class=form_layout_content_table>
				<% for t in Typeculture.find_for_saison() %>
					<%= form_tr_check_tag(t.name, "typecultures[#{t.id}]") %>
				<% end %>
			  </table>
			</div>
		</td>
	</tr>



	<!-- DESC -->
	<tr class=form_layout_title>
		<td colspan=2 class=form_layout_title>Description</td>
	</tr>
	<tr class=form_layout_content>
		<td colspan=2 class=form_layout_content>
			<table>
				<%= form_tr_text_area(f, '', :desc, :size => "80x5") %>
			</table>
		</td class=form_layout_content>
	</tr>

	<!-- INFO -->
	<tr class=form_layout_title>
		<td colspan=2 class=form_layout_title>Informations Importantes</td>
	</tr>
	<tr class=form_layout_content>
		<td colspan=2 class=form_layout_content>
			<table>
				<%= form_tr_text_area(f, '', :info, :size => "80x5") %>
			</table>
		</td class=form_layout_content>
	</tr>

	<!-- PRODUITS -->
	<tr class=form_layout_title>
		<td colspan=2 class=form_layout_title>Produits<span class=link><%= link_to 'Ajouter un produit', '#ventoproduit', :class => "add_nested_item", :rel => "ventoproduits" %></span></td>
	</tr>
	<tr class=form_layout_content>
		<td colspan=2 class=form_layout_content>
			<div id="ventoproduits">
				<% f.fields_for :ventoproduits do |ventoproduit_form| %>
					<% unless f.object.new_record? %>
						<%= render :partial => 'ventoproduit', :locals => { :f => ventoproduit_form } %>
					<% end %>
				<% end %>
			</div>
		</td class=form_layout_content>
	</tr>


</table>


<%= f.submit "Enregistrer" %>
</p>
<% end -%>

