<% javascript :defaults, 'delegate' %>

<% form_for @vente do |f| -%>

<% content_for :jstemplates do -%>
	<%= "var ventoparcelle='#{generate_template(f, :ventoparcelles)}'" %>
<% end -%>

<table class=form_layout>

	<!-- GENERAL -->
	<tr class=form_layout_title>
		<td class=form_layout_title_left>Vente</td>
		<td class=form_layout_title_right>Classement</td>
	</tr>
	<tr class=form_layout_content>
		<td class=form_layout_content_left>
			<table class=form_layout_content_table>
				<%= form_tr_text(f, 'Nom', :name) %>
				<%= form_tr_text(f, 'Prix total', 
									:prix,
									:unit => euro,
									:prix => (@vente.prix || 0),
									:size => 4) %>
				<%= form_tr_select(f, 'Prestataire', 
									:user_id, 
									User.find(:all, :order => :name), 
									:id, :name) %>
				<%= form_tr_text(f, 'Ref client', :ref_client) %>
				<%= form_tr_text(f, 'Ref perso', :ref) %>
			</table>
		</td>
		<td class=form_layout_content_right>
			<table class=form_layout_content_table>
				<%= form_tr_select(f, 'Saison', :saison_id, Saison.find(:all, :order => :name), :id, :name) %>
				<%= form_tr_select(f, 'Categorie', :category_id, Category.find_by_type("vente"), :id, :name) %>
				<%= form_tr_date(f, 'Date', :date) %>
				<%= form_tr_select(f, 'Prestataire', :user_id, User.find(:all, :order => :name), :id, :name) %>
				<%= form_tr_check(f, 'Star', :star) %>
				<%= form_tr_check(f, 'ADU', :adu) %>
			</table>
		</td>
	</tr>


</table>


<fieldset>
	<legend><h3>Type de cultures</h3></legend>
	<div class="typeculture">
	  <table>
		<% for t in Typeculture.find_for_saison() %>
			<%= form_tr_check_tag(t.name, "typecultures[#{t.id}]") %>
		<% end %>
	  </table>
	</div>
</fieldset>

<div id="ventoparcelles">
	<% f.fields_for :ventoparcelles do |ventoparcelle_form| %>
		<% unless f.object.new_record? %>
			<%= render :partial => 'ventoparcelle', :locals => { :f => ventoparcelle_form } %>
		<% end %>
	<% end %>
</div>
<p>
<%= link_to 'Ajouter une parcelle', '#ventoparcelle', :class => "add_nested_item", :rel => "ventoparcelles" %>
</p>

<%= f.submit "Enregistrer" %>
</p>
<% end -%>

