<% title "Vente #{@vente.name}", false %>

<% titre = "Vente #{@vente.name} #{star_ascii(@vente)}" %>
<% lien1 = link_to "Modifier", edit_vente_path(@vente) %>
<% lien2 = link_to "Liste des ventes", ventes_path %>
<% lien3 = link_to "Supprimer", @vente, :confirm => "Supprimer la vente #{@vente.name} ?", :method => :delete %>
<div id="title_h1">
	<span class=title><%= titre %></span>
	<span class=link><%= lien1 %></span>
	<span class=link><%= lien2 %></span>
	<span class=link_delete><%= lien3 %></span>
</div>

<table class=form_layout>
	<!-- GENERAL -->
	<tr class=form_layout_title>
		<td class=form_layout_title_left>Vente</td>
		<td class=form_layout_title_right>Classement</td>
	</tr>
	<tr class=form_layout_content>
		<td class=form_layout_content_left>
			<table class=form_layout_content_table>
				<%= tr_text('Nom', 				@vente.name) %>
				<%= tr_text('Prix Unitaire', 	@vente.prix_unitaire, @vente.get_prix_unitaire_unit) %>
				<%= tr_text('Quantite', 		@vente.quantite, @vente.unit) %>
				<% unless @vente.ajust.blank? %>
					<%= tr_text('Ajustement', 		@vente.ajust, euro) %>
				<% end %>
				<%= tr_text('Prix Total', 		@vente.get_cout_total, euro) %>
				<%= tr_text('Prestataire', 		@vente.user.name) %>
			</table>
		</td>
		<td class=form_layout_content_right>
			<table class=form_layout_content_table>
				<%= tr_text('Categorie', 		@vente.category.name) %>
				<%= tr_text('Date', 			@vente.date) %>
				<%= tr_text('Star', 			@vente.star) %>
				<%= tr_text('ADU', 				@vente.adu) %>
			</table>
		</td>
	</tr>
	
	<!-- PARCELLES -->
	<tr class=form_layout_title>
		<td class=form_layout_title_left>Parcelles</td>
		<td class=form_layout_title_right></td>
	</tr>
	<tr class=form_layout_content>
		<td class=form_layout_content_left>
			<table class=table_data>
				<tr class=bold>
					<th>Culture</th>
					<th>Parcelle</th>
					<th>Surface</th>
					<th>Prix Ha</th>
					<th>Prix</th>
				</tr>
				<%- @vente.ventoparcelles.each do |ventoparcelle| -%>
				<tr>
					<td><%=h ventoparcelle.parcelle.typeculture.name %></td>
					<td><%= link_to ventoparcelle.parcelle.name, parcelle_path(ventoparcelle.parcelle) %></td>
					<td><%=h ventoparcelle.parcelle.surface %> ha</td>
					<td><%=h @vente.get_cout_ha.display %> <%= euro_ha %></td>
					<td><%=h (ventoparcelle.parcelle.surface * @vente.get_cout_ha).display %> <%= euro %></td>
				</tr>
				<%- end -%>
			</table>
		</td>
	</tr>
	
	<!-- DESC -->
	<tr class=form_layout_title>
		<td colspan=2 class=form_layout_title>informations</td>
	</tr>
	<tr class=form_layout_content>
		<td colspan=2class=form_layout_content>
			<p class=grey><%= @vente.desc %></p>
		</td>
	</tr>

</table>
