<div class="protofacture">
  <p>
    <%= f.label :facture_id, "facture : " %>
	<% unless Facture.find(:first).nil? %>
	    <%= f.collection_select (:facture_id, Facture.scope_by_saison.scope_by_phyto, :id, :name_and_type) %>
    <% end %>	
	<br>	
	<%= f.label :prix_unit, "prix unitaire: " %>
    <%= f.text_field :prix_unit, :size => 3 %>
	<%= f.label :quantite, "Quantite : " %>
    <%= f.text_field :quantite, :size => 3 %>
    <%= remove_link_unless_new_record(f) -%>
  </p>
</div>
