<div class="protofacture">
  <p>
    <%= f.label :facture_id, "facture : " %>
	<% unless Facture.find(:first).nil? %>
	    <%= f.collection_select (:facture_id, Facture.find_by_saison(:all), :id, :name_and_type ) %>
    <% end %>	
	<%= f.label :value, "prix : " %>
    <%= f.text_field :value, :size => 3 %>
    <%= remove_link_unless_new_record(f) -%>
  </p>
</div>
