<% title "Produit" %>

<table>
	<tr>
		<td>Nom : </td>
		<td><%=h @produit.name %></td>
	</tr>
	<tr>
		<td>Categorie : </td>
		<td><%=h @produit.category.name %></td>
	</tr>
	<tr>
		<td>Cout total : </td>
		<td><%#=h @produit.get_cout_total %> </td>
	</tr>
	<tr>
		<td>Prix total: </td>
		<td><%=h @produit.get_cout_total %> €</td>
	</tr>
	<tr>
		<td>Description : </td>
		<td><p><%=h @produit.desc %></p></td>
	</tr>
</table>

<h3>Factures</h3>
<%- if @produit.protofactures.length > 0 -%>
	<table class=table_data>
		<tr class=bold>
			<td>Date</td>
			<td>Nom (cout)</td>
			<td>Prix du produit</td>
			<td></td>
		</tr>
		<%- @produit.protofactures.each do |protofacture| -%>
		<tr>
			<td><%=h protofacture.facture.date.to_s %></td>
			<td><%=h protofacture.facture.name %> (<%=h protofacture.facture.cout %>  €)</td>
			<td><%=h protofacture.prix %>  €</td>
			<td><%= link_to image_tag('img-voir.png'), :controller => "factures", :action => "show", :id => protofacture.facture %></td>
		</tr>
	<%- end -%>
	</table>
<%- end -%>

<h3>Passages</h3>
<table class=table_data>
	<tr class=bold>
		<td class=left>date</td>
		<td class=left>Nom</td>
		<td class=left>Dosage</td>
		<td class=left>Surface</td>
		<td class=left>Quantite</td>
		<td class=left></td>
	</tr>
<%- @produit.pulves.each do |pulve| -%>
	<%- putoproduit = @produit.putoproduits.find_by_pulve_id(pulve.id) -%>
	<tr>
		<td><%=h pulve.date %></td>
		<td><%=h pulve.name %></td>
		<td><%=h putoproduit.dosage.display %> L/Ha</td>
		<td><%=h (pulve.sum_surfaces).display %> Ha</td>
		<td><%=h (putoproduit.dosage * pulve.sum_surfaces).display %> L</td>
		<td><%= link_to image_tag('img-voir.png'), :controller => "pulves", :action => "show", :id => pulve %></td>
	</tr>
<%- end -%>
</table>

<p>
  <%= link_to "Edit", edit_produit_path(@produit) %> |
  <%= link_to "Destroy", @produit, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", produits_path %>
</p>
