<% title "Produit" %>
<%= Setting::FLOAT_PRECISION %>
<table class=table_data>
	<tr>
		<td class=left>Nom</td>
		<td class=left><b><%= @produit.name %></b></td>
	</tr>
	<tr>
		<td class=left>Categorie</td>
		<td class=left><b><%=h @produit.category.name %></b></td>
	</tr>
	<tr>
		<td class=left>Prix unitaire</td>
		<td class=right><b><%=h @produit.get_prix_unitaire.display(2) %> <%=h @produit.get_prix_unitaire_unit %></b></td>
	</tr>
<% unless @produit.desc.eql?('') %>
	<tr>
		<td>Description</td>
		<td><p><%=h @produit.desc %></p></td>
	</tr>
<% end %>
</table>

<h3>Stock</h3>
<table class=table_data>
	<tr>
		<td></td>
		<td>Quantité</td>
		<td>Valeur</td>
	</tr>
	<tr>
		<td>Stock initial</td>
		<td class=right><%=h @produit.get_quantite.display() %> <%=h @produit.unit %></td>
		<td class=right><%=h (@produit.get_quantite * @produit.get_prix_unitaire).display(:with_zero => true) %> <%=h euro %></td>
	</tr>
	<tr>
		<td>Consommé</td>
		<td class=right><%=h @produit.get_used_quantite.display() %> <%=h @produit.unit %></td>
		<td class=right><%=h (@produit.get_used_quantite * @produit.get_prix_unitaire).display(:with_zero => true) %> <%=h euro %></td>
	</tr>
	<tr>
		<td>Stock final</td>
		<td class=right><%=h (@produit.get_quantite - @produit.get_used_quantite).to_f.display(:with_zero => true) %> <%=h @produit.unit %></td>
		<td class=right><%=h ((@produit.get_quantite - @produit.get_used_quantite) * @produit.get_prix_unitaire).display(:with_zero => true) %> <%=h euro %></td>
	</tr>
</table>

<h3>Factures</h3>
<%- if @produit.protofactures.length > 0 -%>
	<table class=table_data>
		<tr class=bold>
			<td>Date</td>
			<td>Ref</td>
			<td>Nom</td>
			<td>Quantite</td>
			<td>Used</td>
			<td>Stock</td>
			<td>Prix unitaire</td>
			<td>Cout</td>
			<td></td>
		</tr>
		<%- @produit.protofactures.find(:all, :order => :facture_id).each do |protofacture| -%>
		<tr>
			<td><%=h protofacture.facture.date.to_s %></td>
			<td><%=h protofacture.facture.ref %></td>
			<td><%=h protofacture.facture.name %></td>
			<td class=right><%=h protofacture.quantite.display(:with_zero => true) %> <%=h @produit.unit %></td>
			
			<td class=right><%=h (protofacture.quantite - protofacture.stock).display(:with_zero => true) %> <%=h @produit.unit %></td>
			<td class=right><%=h protofacture.stock.display(:with_zero => true) %> <%=h @produit.unit %></td>

			<td class=right><%=h protofacture.prix_unit.display(2, :with_zero => true) %> <%= euro %>/<%=h @produit.unit %></td>
			<td class=right><%=h (protofacture.prix_unit * protofacture.quantite).display(:with_zero => true) %> <%= euro %></td>
			<td><%= link_to image_tag('img-voir.png'), :controller => "factures", :action => "show", :id => protofacture.facture %></td>
		</tr>
	<%- end -%>
	</table>
<%- end -%>

<h3>Passages</h3>
<table class=table_data>
	<tr class=bold>
		<td class=left>date</td>
		<td class=left>Nom</td>
		<td class=left>Dosage</td>
		<td class=left>Surface</td>
		<td class=left>Quantite</td>
		<td class=left></td>
	</tr>
<%- quantity = 0 -%>
<%- surface = 0 -%>
<%- @produit.pulves.each do |pulve| -%>
	<%- putoproduit = @produit.putoproduits.find_by_pulve_id(pulve.id) -%>
	<% quantity += (putoproduit.dosage * pulve.sum_surfaces) %>
	<% surface += (pulve.sum_surfaces) %>
	<tr>
		<td><%=h pulve.date %></td>
		<td><%=h pulve.name %></td>
		<td class=right><%=h putoproduit.dosage.display %> <%=h @produit.unit %>/<%=h ha %></td>
		<td class=right><%=h (pulve.sum_surfaces).display %> Ha</td>
		<td class=right><%=h (putoproduit.dosage * pulve.sum_surfaces).display %> <%=h @produit.unit %></td>
		<td><%= link_to image_tag('img-voir.png'), :controller => "pulves", :action => "show", :id => pulve %></td>
	</tr>
<%- end -%>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td class=right><b><%=h surface.display() %> <%=h ha %></b></td>
	<td class=right><b><%=h quantity.display() %> <%=h @produit.unit %></b></td>
	<td></td>
</tr>
</table>

<p>
  <%= link_to "Edit", edit_produit_path(@produit) %> |
  <%= link_to "Destroy", @produit, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", produits_path %>
</p>
