<% title "Produit" %>

<table>
	<tr>
		<td>Nom : </td>
		<td><%=h @produit.name %></td>
	</tr>
	<tr>
		<td>Categorie : </td>
		<td><%=h @produit.category.name %></td>
	</tr>
	<tr>
		<td>Prix unitaire : </td>
		<td><%=h @produit.get_prix_unitaire %> <%=h @produit.get_prix_unitaire_unit %></td>
	</tr>
	<tr>
		<td>Prix total: </td>
		<td><%=h @produit.get_cout_total %> €</td>
	</tr>
	<tr>
		<td>Description : </td>
		<td><p><%=h @produit.desc %></p></td>
	</tr>
</table>

<h3>Stock</h3>
<table class=table_data>
	<tr>
		<td></td>
		<td>Quantité</td>
		<td>Valeur</td>
	</tr>
	<tr>
		<td>Stock initial</td>
		<td><%=h @produit.get_quantite %> <%=h @produit.unit %></td>
		<td><%=h (@produit.get_quantite * @produit.get_prix_unitaire).display(:with_zero => true) %> <%=h euro %></td>
	</tr>
	<tr>
		<td>Consommé</td>
		<td><%=h @produit.get_used_quantite %> <%=h @produit.unit %></td>
		<td><%=h (@produit.get_used_quantite * @produit.get_prix_unitaire).display(:with_zero => true) %> <%=h euro %></td>
	</tr>
	<tr>
		<td>Stock final</td>
		<td><%=h (@produit.get_quantite - @produit.get_used_quantite).display(:with_zero => true) %> <%=h @produit.unit %></td>
		<td><%=h ((@produit.get_quantite - @produit.get_used_quantite) * @produit.get_prix_unitaire).display(:with_zero => true) %> <%=h euro %></td>
	</tr>
</table>

<h3>Factures</h3>
<%- if @produit.protofactures.length > 0 -%>
	<table class=table_data>
		<tr class=bold>
			<td>Date</td>
			<td>Ref</td>
			<td>Nom</td>
			<td>Quantite</td>
			<td>Prix unitaire</td>
			<td>Cout</td>
			<td></td>
		</tr>
		<%- @produit.protofactures.each do |protofacture| -%>
		<tr>
			<td><%=h protofacture.facture.date.to_s %></td>
			<td><%=h protofacture.facture.ref %></td>
			<td><%=h protofacture.facture.name %></td>
			<td><%=h protofacture.quantite %></td>
			<td><%=h protofacture.prix %></td>
			<td><%=h protofacture.prix * protofacture.quantite %> <%= euro %></td>
			<td><%= link_to image_tag('img-voir.png'), :controller => "factures", :action => "show", :id => protofacture.facture %></td>
		</tr>
	<%- end -%>
	</table>
<%- end -%>

<h3>Passages</h3>
<table class=table_data>
	<tr class=bold>
		<td class=left>date</td>
		<td class=left>Nom</td>
		<td class=left>Dosage</td>
		<td class=left>Surface</td>
		<td class=left>Quantite</td>
		<td class=left></td>
	</tr>
<%- quantity = 0 -%>
<%- surface = 0 -%>
<%- @produit.pulves.each do |pulve| -%>
	<%- putoproduit = @produit.putoproduits.find_by_pulve_id(pulve.id) -%>
	<% quantity += (putoproduit.dosage * pulve.sum_surfaces) %>
	<% surface += (pulve.sum_surfaces) %>
	<tr>
		<td><%=h pulve.date %></td>
		<td><%=h pulve.name %></td>
		<td><%=h putoproduit.dosage.display %> <%=h @produit.unit %>/<%=h ha %></td>
		<td><%=h (pulve.sum_surfaces).display %> Ha</td>
		<td><%=h (putoproduit.dosage * pulve.sum_surfaces).display %> <%=h @produit.unit %></td>
		<td><%= link_to image_tag('img-voir.png'), :controller => "pulves", :action => "show", :id => pulve %></td>
	</tr>
<%- end -%>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td><%=h surface %> <%=h ha %></td>
	<td><%=h quantity %> <%=h @produit.unit %></td>
	<td></td>
</tr>
</table>

<p>
  <%= link_to "Edit", edit_produit_path(@produit) %> |
  <%= link_to "Destroy", @produit, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", produits_path %>
</p>
