- @coul = Hash.new
- @coul[:gris]           = '#efefef'
- @coul[:ble_head]       = '#ffd966'
- @coul[:ble]            = '#fff2cc'
- @coul[:colza_head]     = '#93c47d'
- @coul[:colza]          = '#d9ead3'
- @coul[:tournesol_head] = '#9fc5e8'
- @coul[:tournesol]      = '#cfe2f3'
- @coul[:cat] = Hash.new
- @coul[:cat][1] = 'black'
- @coul[:cat][2] = '#b45f06'
- @coul[:cat][3] = '#1155cc'

- @fontsize = Hash.new
- @fontsize[:cat] = Hash.new
- @fontsize[:cat][1] = '14'
- @fontsize[:cat][2] = '12'
- @fontsize[:cat][3] = '10'

- headers = []
- headers << 'Tri' << 'Categorie' << 'Sous-Categorie' << 'Prix' << 'Nom' << 'date' << 'Prix Unitaire' << 'Quantite'

- categories = Category.root_vente
- i = 0
%rows{:saison => @saison.year}
	%info
		%saison{:content => "#{@saison.year}"}
		%title{:content => "Ventes #{@saison.year}"}
		%model{:content => "ventes"}
		%nb_col{:content => "#{headers.size}"}

	%row{:color => "white", :bgcolor => "black", :fontweight => "bold", :fontsize => "12"}
		- headers.size.times do
			%column{:content => "#{headers[i]}"}
			- i = i + 1
	
	- categories.children.each do |category|
		- unit   = nil
		- ventes = @saison.ventes.select{|v| v.category_id.eql?(category.id)}
		- unit   = ventes[0].unit if (ventes[0] && @sum[:unit][category.code.to_sym].eql?(true))
		- sum = number_with_delimiter(@sum[:prix][category.code.to_sym], :delimiter => "", :separator => ",")
		- color = @coul[:cat][1]
		- fontsize = @fontsize[:cat][1]

		%row{:bgcolor => @coul[:gris], :fontweight => "bold", :fontsize => "14", :level => "0", :fontsize => "#{fontsize}", :color => color}
			%column{:content => "categorie 1", :format => "@STRING@", :halign => "left", :color => "white", :fontsize => "6"}
			%column{:content => "#{category.name}"}
			%column{:content => ""}
			%column{:content => "#{sum}", :halign => "right", :format => "#,##0"}
			%column{:content => ""}
			%column{:content => ""}
			- if unit
				- if @sum[:prix_unitaire][:valid][category.code.to_sym]
					%column{:content => "#{delim(@sum[:prix_unitaire][:value][category.code.to_sym])} #{euro}/#{unit}"}
				- else
					%column{:content => ""}
				- if @sum[:quantite][:valid][category.code.to_sym]
					%column{:content => "#{delim(@sum[:quantite][:value][category.code.to_sym])} #{unit}"}
				- else
					%column{:content => ""}
			- else
				%column{:content => ""}
				%column{:content => ""}
				
		= render(:partial => "ventes/export_analytic/export_analytic_recurs", :locals => { :up_category => category}) if category.has_children?
