- up_category.children.each do |category|
	- unit   = nil
	- ventes = @saison.ventes.select{|v| v.category_id.eql?(category.id)}
	- unit   = ventes[0].unit if (ventes[0] && @sum[:unit][category.code.to_sym].eql?(true))
	- coul 	 = "#{category.code}_head"
	- color = @coul[:cat][2]
	- fontsize = @fontsize[:cat][2]
	- prix_unitaire = number_with_delimiter(@sum[:prix_unitaire][category.code.to_sym], :delimiter => "", :separator => ",")
	- quantite      = number_with_delimiter(@sum[:quantite][category.code.to_sym], :delimiter => "", :separator => ",")
	- prix          = number_with_delimiter(@sum[:prix][category.code.to_sym], :delimiter => "", :separator => ",")

	%row{:bgcolor => @coul[coul.to_sym], :fontweight => "bold", :fontsize => "12", :level => "1", :fontsize => "#{fontsize}", :color => color}
		%column{:content => "categorie 2", :format => "@STRING@", :halign => "left", :color => "white", :fontsize => "6"}
		%column{:content => ""}
		%column{:content => "#{category.name}"}
		%column{:content => "#{prix}", :halign => "right", :format => "#,##0"}
		%column{:content => ""}
		%column{:content => ""}
		- if unit
			%column{:content => "#{prix_unitaire} #{euro}/#{unit}", :halign => "right"}
			%column{:content => "#{quantite} #{unit}", :halign => "right"}
		- else
			%column{:content => ""}		
			%column{:content => ""}
	
	- ventes.each do |vente|
		- coul = "#{vente.category.code}"
		- prix = number_with_delimiter(vente.prix, :delimiter => "", :separator => ",")
		%row{:bgcolor => @coul[coul.to_sym], :level => "2"}
			%column{:content => "vente", :format => "@STRING@", :halign => "left", :fontsize => "6", :color => "white"}}
			%column{:content => ""}
			%column{:content => ""}
			%column{:content => "#{prix}", :halign => "right", :format => "#,##0"}
			%column{:content => "#{vente.name}"}
			%column{:content => "#{vente.date}", :format => "dd/MM/yyyy"}}
			%column{:content => "#{vente.prix_unitaire}#{euro}/#{vente.unit}", :halign => "right", :format => "@STRING@"}
			
	= render(:partial => "ventes/export_analytic/export_analytic_recurs", :locals => { :up_category => category}) if category.has_children?
