%rows{}
	%info
		%title{:content  => "Tableau d'amortissement"}
		%saison{:content => "#{@saison.year}"}
		%nb_col_entete{:content => ""}
		%nb_col{:content => ""}

	%row{}
		%column{:content => "id", :format => "@STRING@"}
		%column{:content => "date", :format => "@STRING@"}
		%column{:content => "ref client", :halign => "right", :format => "@STRING@"}
		%column{:content => "ref perso", :halign => "right", :format => "@STRING@"}
		%column{:content => "designation"}
		%column{:content => "client"}
		%column{:content => "cout ht", :halign => "right", :format => "#,##0"}
		%column{:content => "nombre d'années", :halign => "right", :format => "#,##0"}
		- (@first_year..@last_year).each do |year|
			%column{:content => "#{year.to_s}", :halign => "right"}

	- @factures.each do |facture|
		- cout = number_with_delimiter(facture.cout, :delimiter => "", :separator => ",")
		%row{}
			%column{:content => "#{facture.id}", :format => "@STRING@"}
			%column{:content => "#{facture.date}", :format => "dd/MM/yyyy"}
			%column{:content => "#{facture.ref_client}", :halign => "right", :format => "@STRING@"}
			%column{:content => "#{facture.ref}", :halign => "right", :format => "@STRING@"}
			%column{:content => "#{facture.name}"}
			%column{:content => "#{facture.user.name}"}
			%column{:content => "#{cout}", :halign => "right", :format => "#,##0"}
			%column{:content => "#{facture.nb_years_amort}", :halign => "center"}
			- (@first_year..@last_year).each do |year|
				- amort = number_with_delimiter(facture.get_cout_for_year(year), :delimiter => "", :separator => ",")
				%column{:content => "#{amort}", :halign => "right"}

