<% javascript :defaults, 'delegate' %>

<% form_for @pulve do |pulve_form| -%>

<% content_for :jstemplates do -%>
	<%= "var putoparcelle='#{generate_template(pulve_form, :putoparcelles)}'" %>
	<%= "var putofacture='#{generate_template(pulve_form, :putofactures)}'" %>
	<%= "var putoproduit='#{generate_template(pulve_form, :putoproduits)}'" %>
<% end -%>

<% unless User.find_by_name('Trochet').nil? %>
	<% selected = User.find_by_name('Trochet').id %>
<% end %>

<table>
	<%= form_tr_text(pulve_form, 'Nom', :name) %>
	<%= form_tr_date(pulve_form, 'Date', :date ) %>
	<%= form_tr_select(pulve_form, 'Prestataire', 
						:user_id, 
						User.find(:all, :order => :name), 
						:id, :name, 
						:selected => selected) %>
	<%= form_tr_text(pulve_form, 'Cout du passage', :cout_ha_passage, :unit => "€/Ha", :value => (@pulve.cout_ha_passage || 0), :size => 5) %>
	<%= form_tr_text_area(pulve_form, 'Description', :desc, :size => Setting::TEXT_AREA_SIZE) %>	

</table>
<br>

<fieldset>
	<legend><h3>Type de cultures</h3></legend>
	<div class="typeculture">
	  <table>
		<% for t in Typeculture.find_for_saison() %>
			<%= form_tr_check_tag(t.name, "typecultures[#{t.id}]") %>
		<% end %>
	  </table>
	</div>
</fieldset>

<fieldset>
  <legend>Parcelles</legend>
  
<div id="putoparcelles">
	<% pulve_form.fields_for :putoparcelles do |putoparcelle_form| %>
		<% unless pulve_form.object.new_record? %>
			<%= render :partial => 'putoparcelle', :locals => { :f => putoparcelle_form } %>
		<% end %>
	<% end %>
</div>
<p>
<%= link_to 'Ajouter une parcelle', '#putoparcelle', :class => "add_nested_item", :rel => "putoparcelles" %>
</p>
</fieldset>
<br>

<fieldset>
  <legend>Produits</legend>
  
<div id="putoproduits">
	<% pulve_form.fields_for :putoproduits do |putoproduit_form| %>
		<% unless pulve_form.object.new_record? %>
			<%= render :partial => 'putoproduit', :locals => { :f => putoproduit_form } %>
		<% end %>
	<% end %>
</div>
<p>
<%= link_to 'Ajouter une produit', '#putoproduit', :class => "add_nested_item", :rel => "putoproduits" %>
</p>
</fieldset>
<br>

<fieldset>
  <legend>Factures</legend>

<div id="putofactures">
	<% pulve_form.fields_for :putofactures do |putofacture_form| %>
		<% unless pulve_form.object.new_record? %>
			<%= render :partial => 'putofacture', :locals => { :f => putofacture_form } %>
		<% end %>
	<% end %>
</div>
<p>
<%= link_to 'Ajouter une facture', '#putofacture', :class => "add_nested_item", :rel => "putofactures" %>
</p>
</fieldset>
<br>

<p>
<%= pulve_form.submit "Enregistrer" %>
</p>

<% end -%>





