<% javascript :defaults, 'delegate' %>

<% form_for @pulve do |f| -%>

	<% content_for :jstemplates do -%>
		<%= "var putoparcelle='#{generate_template(f, :putoparcelles)}'" %>
		<%= "var putofacture='#{generate_template(f, :putofactures)}'" %>
		<%= "var putoproduit='#{generate_template(f, :putoproduits)}'" %>
	<% end -%>

	<% unless User.find_by_name('Trochet').nil? %>
		<% selected = User.find_by_name('Trochet').id %>
	<% end %>

	<table class=form_layout>

		<!-- GENERAL -->
		<tr class=form_layout_title>
			<td class=form_layout_title_left>Pulve</td>
			<td class=form_layout_title_right>Classement</td>
		</tr>
		<tr class=form_layout_content>
			<td class=form_layout_content_left>
				<table class=form_layout_content_table>
					<%= form_tr_text(f, 'Nom', :name) %>
					<%#= form_tr_select(f, 'Categorie', :category_id, Category.pulves_cats, :id, :name) %>
					<%= form_tr_select_cat_from_tree(f, @pulve.class.to_s.downcase, Category.root_pulve, 'Catégorie', :category_id, :id, :name, @pulve) %>
					<%= form_tr_text(f, 'Cout du passage', 
													:cout_ha_passage, 
													:unit => euro_ha, 
													:value => (@pulve.cout_ha_passage || 0), 
													:size => 4) %>
					<%= form_tr_select(f, 'Prestataire', 
										:user_id, 
										User.find(:all, :order => :name), 
										:id, :name, 
										:selected => selected) %>
				</table>
			</td>
			<td class=form_layout_content_right>
				<table class=form_layout_content_table>
					<%= form_tr_date(f, 'Date', :date ) %>
					<%= form_tr_check(f, 'Star', :star) %>
					<%= form_tr_check(f, 'ADU', :adu) %>
					<% if @pulve.cout_ha_passage %>
						<%#= tr_text('Cout total', @pulve.get_cout_total.display, euro) %>
					<% end %>
				</table>
			</td>
		</tr>

		<!-- PRODUITS -->
		<tr class=form_layout_title>
			<td colspan=2 class=form_layout_title>Produits<span class=link><%= link_to 'Ajouter un produit', '#putoproduit', :class => "add_nested_item", :rel => "putoproduits" %></span></td>
		</tr>
		<tr class=form_layout_content>
			<td colspan=2 class=form_layout_content>
				<div id="putoproduits">
					<% f.fields_for :putoproduits do |putoproduit_form| %>
						<% unless f.object.new_record? %>
							<%= render :partial => 'putoproduit', :locals => { :f => putoproduit_form } %>
						<% end %>
					<% end %>
				</div>
			</td class=form_layout_content>
		</tr>

		<!-- PARCELLES & CULTURES -->
		<tr class=form_layout_title>
			<td class=form_layout_title_left>Parcelles <span class=link><%= link_to 'Ajouter une parcelle', '#putoparcelle', :class => "add_nested_item", :rel => "putoparcelles" %></span></td>
			<td class=form_layout_title_right>Cultures</td>
		</tr>
		<tr class=form_layout_content>
			<td class=form_layout_content_left>
				<div id="putoparcelles">
					<% f.fields_for :putoparcelles do |putoparcelle_form| %>
						<% unless f.object.new_record? %>
							<%= render :partial => 'putoparcelle', :locals => { :f => putoparcelle_form } %>
						<% end %>
					<% end %>
				</div>
			</td>
			<td class=form_layout_content_right>
				<div class="typeculture">
				  <table class=form_layout_content_table>
					<% for t in Typeculture.find_for_saison() %>
						<%= form_tr_check_tag(t.name, "typecultures[#{t.id}]") %>
					<% end %>
				  </table>
				</div>
			</td>
		</tr>
	
		<!-- DESC -->
		<tr class=form_layout_title>
			<td colspan=2 class=form_layout_title>Description</td>
		</tr>
		<tr class=form_layout_content>
			<td colspan=2 class=form_layout_content>
				<table>
					<%= form_tr_text_area(f, '', :desc, :size => "80x5") %>
				</table>
			</td class=form_layout_content>
		</tr>

		<!-- INFO -->
		<tr class=form_layout_title>
			<td colspan=2 class=form_layout_title>Informations Importantes</td>
		</tr>
		<tr class=form_layout_content>
			<td colspan=2 class=form_layout_content>
				<table>
					<%= form_tr_text_area(f, '', :info, :size => "80x5") %>
				</table>
			</td class=form_layout_content>
		</tr>

		<!-- FACTURES -->
		<tr class=form_layout_title>
			<td colspan=2 class=form_layout_title>Factures<span class=link><%= link_to 'Ajouter une facture', '#putofacture', :class => "add_nested_item", :rel => "putofactures" %></span></td>
		</tr>
		<tr class=form_layout_content>
			<td colspan=2 class=form_layout_content>
				<div id="putofactures">
					<% f.fields_for :putofactures do |putofacture_form| %>
						<% unless f.object.new_record? %>
							<%= render :partial => 'putofacture', :locals => { :f => putofacture_form } %>
						<% end %>
					<% end %>
				</div>
			</td class=form_layout_content>
		</tr>

</table>


	<p>
	<%= f.submit "Enregistrer" %>
	</p>

<% end -%>





