<div clasproduits="putoproduit">
  <p>
    <%= f.label :produit_id, "produit : " %>
	<% unless Produit.find_by_saison(:first).nil? %>
	    <%= f.collection_select (:produit_id, Produit.find_by_saison(:all), :id, :name_for_select ) %>
	<% end %>	
	
	<%= f.label :value, "dosage: " %>
    <%= f.text_field :dosage, :size => 3 %>
    
<%= remove_link_unless_new_record(f) -%>
  </p>
</div>
