<% title "Pulve" %>

<table class=table_invisible>
	<tr>
		<td class='right'>Nom</td>
		<td class='left'><%=h @pulve.name %></td>
		<td class='left'><%=h @pulve.get_cout_total_passage.display %></td>
	</tr>
	<tr>
		<td class='right'>Date</td>
		<td class='left'><%=h @pulve.print_date %></td>
	</tr>
	<tr>
		<td class='right'>Prestataire</td>
		<td class='left'><%=h @pulve.user.name %></td>
	</tr>
	<tr>
		<td class='right'>Surface totale</td>
		<td class='left'><%=h @pulve.sum_surfaces.display %> Ha</td>
	</tr>
	<tr>
		<td class='right'>Cout des produits</td>
		<td class='left'><%=h @pulve.get_cout_ha_produits.display() %> €/Ha</td>
	</tr>
	<tr>
		<td class='right'>Cout total Ha</td>
		<td class='left'><%=h @pulve.get_cout_ha.display() %> €/Ha</td>
	</tr>
	<tr>
		<td class='right'>Cout total</td>
		<td class='left'><%=h @pulve.get_cout_total.display() %> €</td>
	</tr>
	<tr>
		<td class='right'>Description</td>
		<td class='left'><p><%= simple_format(@pulve.desc) %></p></td>
	</tr>
	<!-- <tr>
		<td class='right'>Description</td>
		<td class='left'><p><%#= (@pulve.desc).gsub(/\n/, '<br/>') %></p></td>
	</tr> -->
</table>

<div id="div_h3">
<h3>Synthese des couts</h3>
	<table class=table_data>
		<tr>
			<th class=right></th>
			<th class=right>cout Ha</th>
			<th class=right>cout total</th>
		</tr>
		<tr>
			<td class=right>Cout de la prestation</td>
			<td class=right><%=h (@pulve.cout_ha_passage).display %> <%= euro_ha %></td>
			<td class=right><%=h (@pulve.cout_ha_passage * @pulve.sum_surfaces).display() %> <%= euro %></td>
		</tr>
		<tr>
			<td class=right>Cout des produits</td>
			<td class=right><%=h (@pulve.get_cout_ha_produits).display() %> <%= euro_ha %></td>
			<td class=right><%=h (@pulve.get_cout_total_produits).display() %> <%= euro %></td>
		</tr>
		<tr>
			<td class=right>Somme</td>
			<td class=right><span class=bold><%=h (@pulve.get_cout_ha).display() %> <%= euro_ha %></span></td>
			<td class=right><span class=bold><%=h (@pulve.get_cout_total).display() %> <%= euro %></td>
		</tr>
	</table>
</div>

<div id="div_h3">
<h3>Parcelles (<%= @pulve.sum_surfaces %> Ha)</h3>
<%- if @pulve.putoparcelles.length > 0 -%>
	<table class=table_data>
		<tr class=bold>
			<th>Culture</th>
			<th>Parcelle</th>
			<th class=right>Surface</th>
			<th class=right>Cout Produit</th>
			<th class=right>Cout Prestation</th>
			<th class=right>Cout/<%= ha %></th>
			<th class=right>Cout Total</th>
		</tr>
		<%- @pulve.putoparcelles.each do |putoparcelle| -%>
			<%- cout_produit = 0 -%>
			<%- @pulve.putoproduits.each do |putoproduit| -%>
				<%- cout_produit += putoproduit.get_cout_ha_parcelle(putoparcelle.parcelle) -%>
			<%- end -%>
			<%- cout_total = 0 -%>
			<%- @pulve.putoproduits.each do |putoproduit| -%>
				<%- cout_total += putoproduit.get_cout_total_parcelle(putoparcelle.parcelle) -%>
			<%- end -%>
		
		<tr>
			<td><%=h putoparcelle.parcelle.typeculture.name %></td>
			<td><%=h putoparcelle.parcelle.name %></td>
			<td class=right><%=h putoparcelle.parcelle.surface %> <%= ha %></td>		
			<td class=right><%=h (cout_produit).display() %> <%= euro_ha %></td>
			<td class=right><%=h (@pulve.get_cout_ha_passage).display() %> <%= euro_ha %></td>
			<td class=right><%=h (@pulve.get_cout_ha).display() %> <%= euro_ha %></td>
			<td class=right><%=h (putoparcelle.parcelle.surface * @pulve.get_cout_ha).display() %> <%= euro %></td>
		</tr>
	<%- end -%>
	</table>
<%- else -%>
<p>l'ensemble des parcelles sont prises en compte</p>
<%- end -%>
<br>
</div>

<div id="div_h3">
<h3>Produits</h3>
<%- unless @pulve.putoproduits.length > 0 -%>
<p>Aucun produit n'est associe a ce traitement</p>
<%- else -%>
	<table class=table_data>
		<tr class=bold>
			<th class=left>Categorie</th>
			<th class=left>Nom</th>
			<th class=right>Prix unitaire</th>
			<th class=right>Dosage</th>
			<th class=right>quantite</th>
			<th class=right>cout/<%= ha %></th>
			<th class=right>cout total</th>
			<th class=left></th>
		</tr>
		<%- @pulve.putoproduits.each do |putoproduit| -%>
		<tr>
			<td class=left><%=h putoproduit.produit.category.name %></td>
			<td class=left><%=h putoproduit.produit.name %></td>
			<td class=right><%=h (putoproduit.produit.get_prix_unitaire).display %> <%= euro %>/<%= putoproduit.produit.unit.to_s %></td>
			<td class=right><%=h (putoproduit.dosage).display %> <%= putoproduit.produit.unit.to_s %>/<%= ha %></td>
			<td class=right><%=h (putoproduit.dosage * @pulve.sum_surfaces).display() %> <%= putoproduit.produit.unit.to_s %></td>
			<td class=right><%=h (putoproduit.dosage * putoproduit.produit.get_prix_unitaire).display() %> <%= euro_ha %></td>
			<td class=right><%=h (putoproduit.dosage * putoproduit.produit.get_prix_unitaire * @pulve.sum_surfaces).display() %> <%= euro %></td>
			<td><%= link_to image_tag('img-voir.png'), :controller => "produits", :action => "show", :id => putoproduit.produit %></td>
		</tr>
	<%- end -%>
	</table>
<%- end -%>
<br>
</div>

<%- if @pulve.putofactures.length > 0 -%>
<div id="div_h3">
	<h3>Factures</h3>
	<ul>
	<%- @pulve.putofactures.each do |putofacture| -%>
		<li><%= putofacture.facture.name %>
			[<%= putofacture.facture.cout %> €]
		 	contribution : <%= putofacture.value %> €
		</li>
	<%- end -%>
	</ul>
</div>	
<%- end -%>
<p>
  <%= link_to "Modifier", edit_pulve_path(@pulve) %> |
  <%= link_to "Supprimer", @pulve, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Voir tout les Traitement", pulves_path %>
</p>
