<% title "Pulve #{@pulve.name}", false %>

<% titre = "Pulve #{@pulve.name} #{star_ascii(@pulve)}" %>
<% lien1 = link_to "Modifier", edit_pulve_path(@pulve) %>
<% lien2 = link_to "Liste des pulves", pulves_path %>
<% lien3 = link_to "Supprimer", @pulve, :confirm => "Supprimer le pulve #{@pulve.name} ?", :method => :delete %>
<div id="title_h1">
	<span class=title><%= titre %></span>
	<span class=link><%= lien1 %></span>
	<span class=link><%= lien2 %></span>
	<span class=link_delete><%= lien3 %></span>
</div>

<table class=form_layout>
	<!-- GENERAL -->
	<tr class=form_layout_title>
		<td class=form_layout_title_left>Pulve</td>
		<td class=form_layout_title_right>Classement</td>
	</tr>
	<tr class=form_layout_content>
		<td class=form_layout_content_left>
			<table class=form_layout_content_table>
				<%= tr_text('Nom', 				@pulve.name) %>
				<%= tr_text('Prestataire', 		@pulve.user.name) %>
				<%= tr_text('Date', 			@pulve.print_date) %>
			</table>
		</td>
		<td class=form_layout_content_right>
			<table class=form_layout_content_table>
				<%= tr_text('Cout du passage', 	@pulve.cout_ha_passage.display, euro_ha) %>
				<%= tr_text('Surface', 			@pulve.sum_surfaces.display, 	ha) %>
				<%= tr_text('Cout Total', 		@pulve.get_cout_total.display, 	euro) %>				
				<%= tr_text('Star', 			@pulve.star) %>
				<%= tr_text('ADU', 				@pulve.adu) %>
			</table>
		</td>
	</tr>

	<!-- PRODUITS -->
	<tr class=form_layout_title>
		<td class=form_layout_title colspan=2>Produits</td>
	</tr>
	<tr class=form_layout_content>
		<td class=form_layout_title colspan=2>
			<table class=table_data>
				<tr class=bold>
					<th class=left>Categorie</th>
					<th class=left>Nom</th>
					<th class=right>Prix unitaire</th>
					<th class=right>Dosage</th>
					<th class=right>cout/<%= ha %></th>
					<th class=right>quantite</th>
					<th class=right>cout total</th>
				</tr>
				<%- @pulve.putoproduits.each do |putoproduit| -%>
				<tr>
					<td class=left><%=h putoproduit.produit.category.name %></td>
					<td class=left><%= link_to putoproduit.produit.name, produit_path(putoproduit.produit) %></td>
					<td class=right><%=h (putoproduit.produit.get_prix_unitaire).display %> <%= euro %>/<%= putoproduit.produit.unit.to_s %></td>
					<td class=right><%=h (putoproduit.dosage).display %> <%= putoproduit.produit.unit.to_s %>/<%= ha %></td>
					<td class=right><%=h (putoproduit.dosage * putoproduit.produit.get_prix_unitaire).display() %> <%= euro_ha %></td>
					<td class=right><%=h (putoproduit.dosage * @pulve.sum_surfaces).display() %> <%= putoproduit.produit.unit.to_s %></td>
					<td class=right><%=h (putoproduit.dosage * putoproduit.produit.get_prix_unitaire * @pulve.sum_surfaces).display() %> <%= euro %></td>
				</tr>
			<%- end -%>
			</table>
		</td>
	</tr>
	
	<!-- PARCELLES & COUTS -->
	<tr class=form_layout_title>
		<td class=form_layout_title_left>Parcelles</td>
		<td class=form_layout_title_right>Couts</td>
	</tr>
	<tr class=form_layout_content>
		<!-- PARCELLES -->
		<td class=form_layout_content_left>
			<table class=table_data>
				<tr>
					<th>Culture</th>
					<th>Parcelle</th>
					<th>Surface</th>
					<th>Cout</th>
				</tr>
				<%- @pulve.putoparcelles.each do |putoparcelle| -%>
				<tr>
					<td><%=h putoparcelle.parcelle.typeculture.name %></td>
					<td><%= link_to putoparcelle.parcelle.name, parcelle_path(putoparcelle.parcelle) %></td>
					<td><%=h putoparcelle.parcelle.surface %> ha</td>
					<td><%=h (putoparcelle.parcelle.surface * @pulve.get_cout_ha).display %> €</td>
				</tr>
				<%- end -%>
			</table>
		</td>
		<!-- SYNTHESE COUTS -->
		<td class=form_layout_content_right>
			<table class=table_data>
				<tr>
					<th class=right></th>
					<th class=right>cout Ha</th>
					<th class=right>cout total</th>
				</tr>
				<tr>
					<td class=left>Cout de la prestation</td>
					<td class=right><%=h (@pulve.cout_ha_passage).display %> <%= euro_ha %></td>
					<td class=right><%=h (@pulve.cout_ha_passage * @pulve.sum_surfaces).display() %> <%= euro %></td>
				</tr>
				<tr>
					<td class=left>Cout des produits</td>
					<td class=right><%=h (@pulve.get_cout_ha_produits).display() %> <%= euro_ha %></td>
					<td class=right><%=h (@pulve.get_cout_total_produits).display() %> <%= euro %></td>
				</tr>
				<tr>
					<td class=left>Somme</td>
					<td class=right><span class=bold><%=h (@pulve.get_cout_ha).display() %> <%= euro_ha %></span></td>
					<td class=right><span class=bold><%=h (@pulve.get_cout_total).display() %> <%= euro %></td>
				</tr>
			</table>
		</td>
	</tr>

	<!-- FACTURES -->
	<%- if @pulve.putofactures.length > 0 -%>
		<tr class=form_layout_title>
			<td class=form_layout_title colspan=2>Factures</td>
		</tr>
		<tr class=form_layout_content>
			<td colspan=2class=form_layout_content>
				<table class=table_data>
					<tr class=bold>
						<th class=left>Nom</th>
						<th class=left>Date</th>
						<th class=left>Cout</th>
						<th class=left>Contribution</th>
					</tr>
					<%- @pulve.putofactures.each do |putofacture| -%>
					<tr>
						<td class=left><%= link_to putofacture.facture.name, facture_path(putofacture.facture) %></td>
						<td class=left><%= putofacture.facture.date %></td>
						<td class=left><%= putofacture.facture.cout %> <%= euro %></td>
						<td class=left><%= putofacture.value %> <%= euro %></td>
						<td class=left><%= popup_show(image_tag('img-voir.png'), pop_content(putofacture.facture), "popup-show") %></td>
					</tr>
					<%- end -%>
				</table>
			</td>
		</tr>
	<%- end -%>

	<!-- DESC -->
	<tr class=form_layout_title>
		<td colspan=2 class=form_layout_title>informations</td>
	</tr>
	<tr class=form_layout_content>
		<td colspan=2class=form_layout_content>
			<p class=grey><%= @pulve.desc %></p>
		</td>
	</tr>

</table>

<br><br>

<!--
-- DEATILS DES COUTS PAR PARCELLE --
<div id="show_table">
<h3>Parcelles (<%= @pulve.sum_surfaces %> Ha)</h3>
<%#- if @pulve.putoparcelles.length > 0 -%>
	<table class=table_data>
		<tr class=bold>
			<th>Culture</th>
			<th>Parcelle</th>
			<th class=right>Surface</th>
			<th class=right>Cout Produit</th>
			<th class=right>Cout Prestation</th>
			<th class=right>Cout/<%#= ha %></th>
			<th class=right>Cout Total</th>
		</tr>
		<%#- @pulve.putoparcelles.each do |putoparcelle| -%>
			<%#- cout_produit = 0 -%>
			<%#- @pulve.putoproduits.each do |putoproduit| -%>
				<%#- cout_produit += putoproduit.get_cout_ha_parcelle(putoparcelle.parcelle) -%>
			<%#- end -%>
			<%#- cout_total = 0 -%>
			<%#- @pulve.putoproduits.each do |putoproduit| -%>
				<%#- cout_total += putoproduit.get_cout_total_parcelle(putoparcelle.parcelle) -%>
			<%#- end -%>
		
		<tr>
			<td><%#=h putoparcelle.parcelle.typeculture.name %></td>
			<td><%#=h putoparcelle.parcelle.name %></td>
			<td class=right><%#=h putoparcelle.parcelle.surface %> <%#= ha %></td>		
			<td class=right><%#=h (cout_produit).display() %> <%#= euro_ha %></td>
			<td class=right><%#=h (@pulve.get_cout_ha_passage).display() %> <%#= euro_ha %></td>
			<td class=right><%#=h (@pulve.get_cout_ha).display() %> <%#= euro_ha %></td>
			<td class=right><%#=h (putoparcelle.parcelle.surface * @pulve.get_cout_ha).display() %> <%#= euro %></td>
		</tr>
	<%#- end -%>
	</table>
<%#- else -%>
<p>l'ensemble des parcelles sont prises en compte</p>
<%#- end -%>
<br>
</div>
-->

