
<% form_for(@setting) do |f| %>
  <%= f.error_messages %>


<%= f.submit "Enregistrer Les Parametres" %>

<br><br><br>

<fieldset>
	<legend>Choix Saison (supprimé)</legend>
	<table>
		<tr>
			<td><%#= f.label :saison_id, "Saison : " %></td>
			<td><%#= f.collection_select (:saison_id, Saison.find(:all), :id, :name ) %></td>
		</tr>  
	</table>
</fieldset>
<fieldset>
	<legend>Options d'affichage</legend>
	<table>
		<tr>
			<td><%= f.label :value_parcelle, "Detail parcelle : " %></td>
			<td><%= f.check_box(:value_parcelle) %></td>
		</tr>
		<tr>
			<td><%= f.label :detail_desc, "Detail description pour l'affichage: " %></td>
			<td><%= f.check_box(:detail_desc) %></td>
		</tr>  
		<tr>
			<td><%= f.label :detail_ref, "Detail reference pour l'affichage: " %></td>
			<td><%= f.check_box(:detail_ref) %></td>
		</tr>  
		<tr>
			<td><%= f.label :float_precision, "Nombre de chiffre après la virgule (0, 1, 2, ou 3): " %></td>
			<td><%= f.text_field :float_precision %></td>
		</tr>  
		<tr>
			<td><%= f.label :text_area_size, "Taille par defaut d'une zone de texte : " %></td>
			<td><%= f.text_field :text_area_size %></td>
		</tr>  
	</table>
</fieldset>

<fieldset>
	<legend>Affichage Analytic</legend>
<table>
	<tr>
		<td><%= f.label :show_reportable, "Afficher les facture Reportables" %></td>
		<td><%= f.check_box(:show_reportable) %></td>
	</tr>  
</table>
</fieldset>
	
<fieldset>
	<legend>Option calcul compte de résultat</legend>
<table>
	<tr>
		<td><%= f.label :charges_include_maison, "Inclure les factures 'Maison' dans le compte de résultat?" %></td>
		<td><%= f.check_box(:charges_include_maison) %></td>
	</tr>  
	<tr>
		<td><%= f.label :charges_include_invest, "Inclure les factures 'Investissement' dans le compte de résultat?" %></td>
		<td><%= f.check_box(:charges_include_invest) %></td>
	</tr>  
	<tr>
		<td><%= f.label :charges_include_stock_produit, "Inclure la valeur des produits en stock dans le compte de résultat?" %></td>
		<td><%= f.check_box(:charges_include_stock_produit) %></td>
	</tr>  
</table>
</fieldset>
	
<% end -%>
