- @coul = Hash.new
- @coul[:gris]           = '#efefef'
- @coul[:ble_head]       = '#ffd966'
- @coul[:ble]            = '#fff2cc'
- @coul[:colza_head]     = '#93c47d'
- @coul[:colza]          = '#d9ead3'
- @coul[:tournesol_head] = '#9fc5e8'
- @coul[:tournesol]      = '#cfe2f3'
- @coul[:cat] = Hash.new
- @coul[:cat][1] = 'black'
- @coul[:cat][2] = '#b45f06'
- @coul[:cat][3] = '#1155cc'

- @fontsize = Hash.new
- @fontsize[:cat] = Hash.new
- @fontsize[:cat][1] = '14'
- @fontsize[:cat][2] = '12'
- @fontsize[:cat][3] = '10'

- headers = []
- headers  << 'Categorie 1'<< 'Categorie 2' << 'Categorie 3' << 'Prix HT' << 'Facture' << 'Prestataire' << 'type'  << 'date' << 'Reference' << 'Ref compta'

- categories = Category.root_facture

%rows{:saison => @saison.year}
	%info
		%saison{:content => "#{@saison.year}"}
		%title{:content => "Factures par catégories"}
		%nb_col{:content => "#{headers.size}"}

	- i = 0
	%row{:color => "white", :bgcolor => "black", :fontweight => "bold", :fontsize => "12"}
		- headers.size.times do
			%column{:content => "#{headers[i]}"}
			- i = i + 1
	
	- categories.children.each do |category|
		- sum = number_with_delimiter(@sum_factures[:prix][category.code.to_sym], :delimiter => "", :separator => ",")
	
		%row{:fontweight => "bold", :fontsize => "#{@fontsize[:cat][1]}", :level => "0", :color => @coul[:cat][1]}
			%column{:content => "#{category.name}"}
			%column{:content => ""}
			%column{:content => ""}
			%column{:content => "#{sum}", :halign => "right", :format => "#,##0"}
			%column{:content => ""}
			%column{:content => ""}
			%column{:content => ""}
			%column{:content => ""}
			%column{:content => ""}
			%column{:content => ""}

		= render(:partial => "saisons/gdoc_categories_charges/categories_charges_recurs", :locals => { :up_category => category, :cat_1 => category}) if category.has_children?
