<table class=table_data>
  <tr>
    <td>Nom</td>
    <td class=right>surface (Ha)</td>
    <td>Culture</td>
	<% if admin? %>
	    <td></td>
		<td></td>
		<td></td>
	<% end %>
  </tr>

<% sum_surfaces = 0 %>
<% @parcelles.each do |parcelle| %>
	<% sum_surfaces += parcelle.surface %>
  <tr>
    <td><%= parcelle.name %></td>
    <td class=right><%= parcelle.surface.display(2) %></td>
    <td><%= parcelle.typeculture.name %></td>
	
	<% if admin? %>
	    <td><%= link_to 'Voir', parcelle %></td>
	    <td><%= link_to 'Modifier', edit_parcelle_path(parcelle) %></td>
	    <td><%= link_to 'Supprimer', parcelle, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  
  </tr>
<% end %>
<tr class=bold>
  <td>Total</td>
  <td class=right><%= sum_surfaces %></td>
  <td></td>
	
	<% if admin? %>
	    <td></td>
	    <td></td>
	    <td></td>
	<% end %>

</tr>
</table>
