<% labour_total = 0 %>
<% labour_total_ha = 0 %>

<% title "Parcelle" %>

<table>
	<%= tr_text('Nom', @parcelle.name) %>
	<%= tr_text('Surface', @parcelle.surface) %>
</table>

<% if @parcelle.labours.count == 0 %>
	<p>Pas de labours</p>
<% else %>
	<h3>Labours</h3>
	<table>
	  <tr>
	    <td>Categorie | </td>
	    <td>Prestataire | </td>
	    <td>Nom | </td>
	    <td>Date | </td>
	    <td>Cout Ha | </td>
	    <td>Cout total | </td>
		<td> | </td>
	  </tr>
		<% @parcelle.labours.each do |labour| %>
		  <tr>
		    <td><%= labour.category.name %> | </td>
		    <td><%= labour.user.name %> | </td>
		    <td><%= labour.name %> | </td>
		    <td><%= labour.date %> | </td>
		    <td><%= labour.get_cout_ha %> € | </td>
		    <td><%= labour.get_cout_total_col(@parcelle) %> € | </td>
			<td><%= link_to image_tag('img-voir.png'), labour_url(:id => labour) %> | </td>
		  </tr>		  
			<% labour_total_ha += labour.get_cout_ha %>
			<% labour_total += labour.get_cout_total_col(@parcelle) %>
		<% end %>
	  <tr>
	    <td> </td>
	    <td> </td>
	    <td> </td>
	    <td> </td>
	    <td><%= labour_total_ha.to_s %></td>
	    <td><%= labour_total.to_s %></td>
		<td> | </td>
	  </tr>
	</table>
<% end %>

<% if @parcelle.pulves.count == 0 %>
	<p>Pas de pulve</p>
<% else %>
	<h3>Pulves</h3>
	<table>
	  <tr>
	    <td>Categorie | </td>
	    <td>Prestataire | </td>
	    <td>Nom | </td>
	    <td>Date | </td>
	    <td>Cout Ha | </td>
	    <td>Cout total | </td>
		<td> | </td>
	  </tr>
		<% @parcelle.pulves.each do |pulve| %>
		  <tr>
		    <td><%= pulve.category.name %> | </td>
		    <td><%= pulve.user.name %> | </td>
		    <td><%= pulve.name %> | </td>
		    <td><%= pulve.date %> | </td>
		    <td><%= pulve.get_cout_ha_col(@parcelle) %> € | </td>
		    <td><%= pulve.get_cout_total_col(@parcelle) %> € | </td>
			<td><%= link_to image_tag('img-voir.png'), pulve_url(:id => pulve) %> | </td>
		  </tr>
		<% end %>
	</table>
<% end %>



<h3>Zones</h3>
<ul>
  <% @parcelle.zonetopas.each do |zonetopa| %>
    <li><%=h zonetopa.value %>: <%=h zonetopa.zone.name %></li>
  <% end %>
</ul>

<p>
  <%= link_to "Edit", edit_parcelle_path(@parcelle) %> |
  <%= link_to "Destroy", @parcelle, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", parcelles_path %>
</p>
