<% labour_total = 0 %>
<% labour_total_ha = 0 %>

<% title "Parcelle  “#{@parcelle.name}” - #{@parcelle.surface.display} Ha" %>

<!-- <table>
	<%#= tr_text('Nom', @parcelle.name) %>
	<%#= tr_text('Surface', @parcelle.surface) %>
</table> -->

<% if @parcelle.labours.count == 0 %>
	<p>Pas de labours</p>
<% else %>
	<h3>Labours</h3>
	<table class=table_data>
	  <tr class=bold>
	    <th>Prestataire</th>
	    <th>Categorie</th>
	    <th>Nom</th>
	    <th>Date</th>
	    <th class=right>Cout Ha</th>
	    <th class=right>Cout total</th>
		<th></th>
	  </tr>
		<% @parcelle.labours.each do |labour| %>
		  <tr>
		    <td><%= labour.user.name %></td>
		    <td><%= labour.category.name %></td>
		    <td><%= labour.name %></td>
		    <td><%= labour.print_date %></td>
		    <td class=right><%= labour.get_cout_ha %> <%= euro %></td>
		    <td class=right><%= labour.get_cout_total_col(@parcelle) %> <%= euro %></td>
			<td><%= link_to image_tag('img-voir.png'), labour_url(:id => labour) %></td>
		  </tr>		  
			<% labour_total_ha += labour.get_cout_ha %> 
			<% labour_total += labour.get_cout_total_col(@parcelle) %>
		<% end %>
	  <tr>
	    <td> </td>
	    <td> </td>
	    <td> </td>
	    <td> </td>
	    <td class=right><%= labour_total_ha.to_s %> <%= euro %></td>
	    <td class=right><%= labour_total.to_s %> <%= euro %></td>
		<td></td>
	  </tr>
	</table>
<% end %>



<% if @parcelle.putoparcelles.count == 0 %>
	<p>Pas de traitements</p>
<% else %>
	<h3>Traitements</h3>
	<table class=table_data>
	  <tr class=bold>
	    <th>Prestataire</th>
	    <th>Categorie</th>
	    <th>Nom</th>
	    <th>produit</th>
	    <th class=value>Dosage</th>
	    <th class=unit></th>
	    <th>Date</th>
	    <th>Cout Ha</th>
	    <th>Cout total</th>
		<th></th>
	  </tr>
	
		<% @parcelle.putoparcelles.each do |putoparcelle| %>
			<% count = 0 %>
			<% putoparcelle.pulve.putoproduits.each do |putoproduit| %>
				<% count += 1 %>
				<% logger.error "count=	#{count.to_s}" %>
				
				<% if count == 1 %>
				  <tr>
				    <td><%= putoparcelle.pulve.user.name %></td>
				    <td><%= putoproduit.category.name %></td>
				    <td><%= putoparcelle.pulve.name %></td>
				    <td><%= putoproduit.produit.name %></td>
				    <td class=value><%= putoproduit.dosage.display %></td> 
					<td class=unit><%= putoproduit.produit.get_dosage_unit %></td>
				    <td><%= putoparcelle.pulve.print_date %></td>
				    <td><%= putoparcelle.pulve.get_cout_ha_col(@parcelle) %> <%= euro %></td>
				    <td><%= putoparcelle.pulve.get_cout_total_col(@parcelle) %> <%= euro %></td>
					<td><%= link_popup_pulve_desc(putoparcelle.pulve.name, putoparcelle.pulve) %></td>
				  </tr>
				<% else %>
				  <tr>
					<td> - </td>
				    <td> - </td>
				    <td> - </td>
				    <td><%= putoproduit.produit.name %></td>
				    <td class=value><%= putoproduit.dosage.display %></td> 
					<td class=unit><%= putoproduit.produit.get_dosage_unit %></td>
				    <td> - </td>
				    <td><%= putoparcelle.pulve.get_cout_ha_col(@parcelle) %> €</td>
				    <td><%= putoparcelle.pulve.get_cout_total_col(@parcelle) %> €</td>
					<td><%= link_popup_pulve_desc(putoparcelle.pulve.name, putoparcelle.pulve) %></td>
				  </tr>
				<% end %>
			<% end %>
		<% end %>
	</table>
<% end %>



<h3>Zones</h3>
<table class=table_data>
  <tr class=bold>
    <th>Nom</th>
    <th>Surface</th>
  </tr>
  <% @parcelle.zonetopas.each do |zonetopa| %>
	  <tr>
	    <td><%=h zonetopa.zone.name %></td>
	    <td><%=h zonetopa.value.display %> <%= ha %></td>
	  </tr>
		<% end %>
	</table>

<p>
  <%= link_to "Edit", edit_parcelle_path(@parcelle) %> |
  <%= link_to "Destroy", @parcelle, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", parcelles_path %>
</p>
