<% title "Import", false %>
<% titre = "Pulves" %>
<% lien0 = button_to("Preparer le fichier", 			:action => :prepare) %>
<% lien1 = button_to("Tester le fichier", 				:action => :import_pulves, :force => false) %>
<% lien2 = button_to("Importer malgré les warnings", 	:action => :import_pulves, :force => true) %>

<div id="title_h1">
	<span class=title><%= titre %></span>
	<span class=link><%= lien0 %></span>
	<span class=link><%= lien1 %></span>
</div>

<p><% @import.remarks.each do |msg| %>- <%= msg.to_s %><br><% end %></p>

<% if @state.eql?(:read) %>
<h2>Lecture du fichier</h2>
	<%= render(:partial => "warnings") %>
	<% if (@import.has_warnings? && @force.eql?(false)) %>
		<span class=link><%= lien2 %></span>
	<% end %>

<% elsif @state.eql?(:import) %>
	<h2>Import des donnees</h2>
	<%= render(:partial => "errors") %>
<% end %>
		
		
		
		
		
		