<h1>Listing upcategories</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for upcategory in @upcategories %>
  <tr>
    <td><%=h upcategory.name %></td>
    <td><%= link_to 'Voir', upcategory %></td>
    <td><%= link_to 'Modifier', edit_upcategory_path(upcategory) %></td>
    <td><%= link_to 'Supprimer', upcategory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle Upcategory', new_upcategory_path %>
