<% form_for @facdiv do |f| -%>
fddssdf
<table>
<tr>
	<td><%= f.label :name, "Facture : " %></td>
	<td><%= f.collection_select (:facture_id, @diverses, :id, :name_diverse ) %></td>
</tr>
<tr>
	<td><%= f.label :name, "Nom : " %></td>
	<td><%= f.text_field :name %></td>
</tr>
<tr>
	<td><%= f.label :ref_client, "Ref client : " %></td>
	<td><%= f.text_field :ref_client %></td>
</tr>
<tr>
	<td><%= f.label :ref, "Ref perso : " %></td>
	<td><%= f.text_field :ref %></td>
</tr>
<tr>
	<td><%= f.label :user_id, "Prestataire : " %></td>
	<td><%= f.collection_select (:user_id, User.find(:all, :order => :name), :id, :name ) %></td>
</tr>
<tr>
	<td><%= f.label :cout, "Cout : " %></td>
	<td><%= f.text_field :cout, :size => 3 %> euros</td>
</tr>
<tr>
	<td><%= f.label :desc, "Info : " %></td>
	<td><%= f.text_field :desc %></td>
</tr>
<tr>
	<td>Repere : </td>
	<td><%= f.label :star, "Star : " %><%= f.check_box :star %></td>
</tr>
</table>
<%= f.submit "Enregistrer" %>
<% end -%>

