<fieldset>
	<legend>| 
	<% unless @facture.new_record? %>
		<%= link_to "Annuler", facture_url(@facture) %>
	<% else %>
		<%= link_to "Annuler", factures_url %>
	<% end %>
	 |</legend>

<% javascript :defaults, 'delegate' %>
<%= error_messages_for 	:facture, :factoparcelle,
						:header_message => "Donnees incompletes ou Incorrectes", 
						:message => "corriger les erreurs suivantes" 
%>
<% form_for @facture, :controller => :factures do |f| -%>

<% content_for :jstemplates do -%>
	<%= "var factoparcelle='#{generate_template(f, :factoparcelles)}'" %>
<% end -%>

<table>
<%= form_tr_text(f, 'Nom', :name) %>
<%= form_tr_text(f, 'Ref client', :ref_client) %>
<%= form_tr_text(f, 'Ref perso', :ref) %>
<%= form_tr_date(f, 'Date', :date) %>
<%= form_tr_select(f, 'Prestataire', :user_id, User.find(:all, :order => :name), :id, :name) %>
<%= form_tr_select(f, 'Classement', :factcat_id, Factcat.find(:all, :order => :name), :id, :name) %>
<%= form_tr_select(f, 'Categorie', :category_id, Category.find_by_type("facture"), :id, :name) %>
<%= form_tr_select(f, 'Comptabilisation', :factype_id, Factype.find(:all, :order => :name), :id, :name) %>
<%= form_tr_text(f, 'Cout', :cout) %>

<% unless @facture.new_record? %>
	<% value = @facture.sum_charges.to_s + ' ' + euros  %>
	<%= tr_text('Charges associees', value) %>
	
	<% value = (@facture.cout - @facture.sum_charges).to_s + ' ' + euros  %>
	<%= tr_text('Valeur Comptable', value) %>
<% end %>

<%= form_tr_check(f, 'Star', :star) %>
<%= form_tr_check(f, 'ADU', :adu) %>
<!-- desactiver la case 'Report' si elle est coche
sauf si Admin.true?-->
<%= form_tr_check_tag('Reportable', :reportable) %>
<%= form_tr_text_area(f, 'Infos', :desc, :size => "20x5") %>
</table>

<fieldset>
	<legend><h3>Type de cultures</h3></legend>
	<div class="typeculture">
	  <table>
		<% for t in Typeculture.find_for_saison() %>
			<%= form_tr_check_tag(t.name, "typecultures[#{t.id}]") %>
		<% end %>
	  </table>
	</div>
</fieldset>

	<% unless @facture.type == 'Reportable' %>
		<fieldset>
			<legend><h3>parcelles associees</h3></legend>
				<div id="factoparcelles">
					<% f.fields_for :factoparcelles do |factoparcelle_form| %>
						<% unless f.object.new_record? %>
							<%= render :partial => 'factoparcelle', :locals => { :f => factoparcelle_form } %>
						<% end %>
					<% end %>
				</div>
				<p>
				<%= link_to 'Ajouter une parcelle', '#factoparcelle', :class => "add_nested_item", :rel => "factoparcelles" %>
				</p>
			<% end %>
		</fieldset>
<p><%= f.submit "Enregistrer" %></p>
</fieldset>

<% end -%>
