<% javascript :defaults, 'delegate' %>
<%= error_messages_for 	:facture, :factoparcelle,
						:header_message => "Donnees incompletes ou Incorrectes", 
						:message => "corriger les erreurs suivantes" 
%>
<% form_for @facture, :controller => :factures do |f| -%>

<% content_for :jstemplates do -%>
	<%= "var factoparcelle='#{generate_template(f, :factoparcelles)}'" %>
<% end -%>
<table class=form_layout>
	<tr class=form_layout_title>
		<td class=form_layout_title_left>Facture</td>
		<td class=form_layout_title_right>Classement</td>
	</tr>
	<tr class=form_layout_content>
		<td class=form_layout_content_left>
			<table class=form_layout_content_table>
				<%= form_tr_text(f, 'Nom', :name) %>
				<%= form_tr_text(f, 'Cout', :cout) %>
				<%= form_tr_text(f, 'Ref client', :ref_client) %>
				<%= form_tr_text(f, 'Ref perso', :ref) %>
				<%= form_tr_date(f, 'Date', :date) %>
				<%= form_tr_select(f, 'Prestataire', :user_id, User.find(:all, :order => :name), :id, :name) %>
			</table>
		</td>
		<td class=form_layout_content_right>
			<table class=form_layout_content_table>
				<%#= form_tr_select(f, 'Catégorie', :category_id, Category.for_factures, :id, :name_for_select_for_facture) %>
				<%= form_tr_select_with_groups(f, 'Catégorie', :category_id, Category.grouped_for_factures, :id, @facture,  :name_for_select_for_facture) %>
				<%#= form_tr_select(f, 'Classement', :factcat_id, Factcat.find(:all, :order => :name), :id, :name) %>
				<%#= form_tr_select(f, 'Categorie', :category_id, Category.factures_cats, :id, :name) %>
				<%= form_tr_select(f, 'Comptabilisation', :factype_id, Factype.find(:all, :order => :name), :id, :name) %>

				<%= form_tr_check(f, 'Payé', :paye) %>
				<%= form_tr_simple_select(f, 'Reglement', :reglement, Application::TYPE_REGLEMENT) %>
				<%= form_tr_simple_select(f, 'TVA', :tva, Application::TAUX_TVA) %>

				<%= form_tr_check(f, 'Star', :star) %>
				<%= form_tr_check(f, 'ADU', :adu) %>
			</table>
		</td>
	</tr>
	<tr class=form_layout_title>
		<td class=form_layout_title_left>
			Parcelles <span class=link><%= link_to 'Ajouter une parcelle', '#factoparcelle', :class => "add_nested_item", :rel => "factoparcelles" %></span>
		</td>
		<td class=form_layout_title_right>Cultures</td>
	</tr>
	<tr class=form_layout_content>
		<td class=form_layout_content_left>
			<% unless @facture.type == 'Reportable' %>
				<div id="factoparcelles">
					<% f.fields_for :factoparcelles do |factoparcelle_form| %>
						<% unless f.object.new_record? %>
							<%= render :partial => 'factoparcelle', :locals => { :f => factoparcelle_form } %>
						<% end %>
					<% end %>
				</div>
				<p>
				
				</p>
			<% end %>
		</td>
		<td class=form_layout_content_right>
			<div class="typeculture">
			  <table class=form_layout_content_table>
				<% for t in Typeculture.find_for_saison() %>
					<%= form_tr_check_tag(t.name, "typecultures[#{t.id}]") %>
				<% end %>
			  </table>
			</div>
		</td>
	</tr>
	<!-- Description -->
	<tr class=form_layout_title>
		<td colspan=2 class=form_layout_title>Description</td>
	</tr>
	<tr class=form_layout_content>
		<td colspan=2 class=form_layout_content>
			<table>
				<%= form_tr_text_area(f, '', :desc, :size => "20x5") %>
			</table>
		</td class=form_layout_content>
	</tr>

	<!-- Infos Importantes -->
	<tr class=form_layout_title>
		<td colspan=2 class=form_layout_title>Informations importantes</td>
	</tr>
	<tr class=form_layout_content>
		<td colspan=2 class=form_layout_content>
			<table>
				<%= form_tr_text_area(f, '', :info, :size => "20x5") %>
			</table>
		</td class=form_layout_content>
	</tr>

</table>

<p><%= f.submit "Enregistrer" %></p>
</div>

<% end -%>
