<p>
  | <%= link_to "Modifier", {:controller => 'factures', :action => 'edit', :id => @facture.id} %>
  | <%= link_to "Retour a la liste des factures", :controller => 'factures', :action => 'index' %> |
</p>

<table>
<tr>
	<td>Campagne : </td>
	<td><%= @facture.saison.name %></td>
</tr>
<tr>
	<td>Nom : </td>
	<td><%= @facture.name %></td>
</tr>
<tr>
	<td>Cout : </td>
	<td><%= @facture.cout.display() %> <%= euro %></td>
</tr>
<tr>
	<td>Ref perso : </td>
	<td><%= @facture.ref %></td>
</tr>
<tr>
	<td>Ref client : </td>
	<td><%= @facture.ref_client %></td>
</tr>
<tr>
	<td>Classement : </td>
	<td><%= @facture.factcat.name %></td>
</tr>
<tr>
	<td>Type de facture : </td>
	<td><%= @facture.factype.name %></td>
</tr>
<tr>
	<td>Repere : </td>
	<td>Star : <%= @facture.star %>
	 	| ADU :<%= @facture.adu %></td>
</tr>
<tr>
	<td>Infos : </td>
	<td><p><%= @facture.desc %></p></td>
</tr>

</table>

<!-- Parcelles associees -->
<%= render :partial => 'show_detail_parcelles' %>

<!-- affichage des charges associees -->
<%= render :partial => 'show_detail_assoc' %>

<!-- Warnings -->
<%= render :partial => 'show_detail_warning' %>

<!-- Comptabilisation -->
<%= render :partial => 'show_detail_comptab' %>
