<table class=table_invisible>
<tr>
	<td class='right'>Campagne</td>
	<td class='left'><%= @facture.saison.name %></td>
</tr>
<tr>
	<td class='right'>Nom</td>
	<td class='left'><%= @facture.name %></td>
</tr>
<tr>
	<td class='right'>Cout</td>
	<td class='left'><%= @facture.cout.display() %> <%= euro %></td>
</tr>
<tr>
	<td class='right'>Ref perso</td>
	<td class='left'><%= @facture.ref %></td>
</tr>
<tr>
	<td class='right'>Ref client</td>
	<td class='left'><%= @facture.ref_client %></td>
</tr>
<tr>
	<td class='right'>Classement</td>
	<td class='left'><%= @facture.factcat.name %></td>
</tr>
<tr>
	<td class='right'>Type de facture</td>
	<td class='left'><%= @facture.factype.name %></td>
</tr>
<% unless @facture.desc.blank? %>
	<tr>
		<td class='right'>Description</td>
		<td class='left'><p><%= @facture.desc %></p></td>
	</tr>
<% end %>

</table>

<!-- Parcelles associees -->
<%= render :partial => 'show_detail_parcelles' %>

<!-- affichage des charges associees -->
<%= render :partial => 'show_detail_assoc' %>

<!-- Warnings -->
<%= render :partial => 'show_detail_warning' %>

<!-- Comptabilisation -->
<%= render :partial => 'show_detail_comptab' %>
