<%- @show_used=true -%>

<%- if @facture.protofactures.length > 0 -%>
	<h3>Produits</h3>
	<table class=table_data>
		<tr class=bold>
			<td colspan=3></td>
			<td colspan=2>Acheté</td>
		<%- if @show_used -%>
			<td colspan=2>Consommé</td>
		<%- end -%>
			<td></td>
		</tr>
		<tr class=bold>
			<td>Categorie</td>
			<td>Nom</td>
			<td>Prix</td>
			<td>Quantité</td>
			<td>Cout</td>
		<%- if @show_used -%>
			<td>Quantité</td>
			<td>Cout</td>
		<%- end -%>
			<td></td>
		</tr>
		<%- total_prix = 0 -%>
		<%- @facture.protofactures.each do |protofacture| -%>
			<%- total_prix += protofacture.quantite * protofacture.prix -%>
		<tr>
			<td><%=h protofacture.produit.category.name %></td>
			<td><%=h protofacture.produit.name %></td>
			<td class=right><%=h (protofacture.prix).display %> €/<%=h protofacture.produit.unit %></td>
			<td class=right><%=h protofacture.quantite.display %> <%=h protofacture.produit.unit %></td>
			<td class=right><%=h (protofacture.quantite * protofacture.prix).display %> <%= euro %></td>
		<%- if @show_used -%>
			<td class=right><%=h protofacture.quantite.display %> <%=h protofacture.produit.unit %></td>
			<td class=right><%=h (protofacture.quantite * protofacture.prix).display %> <%= euro %></td>
		<%- end -%>
			<td><%= link_to image_tag('img-voir.png'), :controller => "produits", :action => "show", :id => protofacture.produit %></td>
		</tr>
	<%- end -%>
		<tr class=bold>
			<td>Total</td>
			<td></td>
			<td></td>
			<td></td>
			<td class=right><%=h total_prix.display %> <%= euro %></td>
			<%- if @show_used -%>
				<td class=right></td>
				<td class=right><%=h @facture.sum_putoproduits_used.display %> <%= euro %></td>
			<%- end -%>
			<td></td>
		</tr>
	</table>
<%- end -%>

<% if (@facture.labours.count > 0) %>
<h3>Labours</h3>
<table class=table_data>
	<tr class=bold>
	    <td><b>Labour</b></td>
	    <td><b>date</b></td>
	    <td><b>cout</b></td>
	    <td><b>contribution</b></td>
	</tr>
		<% @facture.labtofactures.each do |labtofacture| %>
		  <tr>
		    <td><%= link_to labtofacture.labour.name, edit_labour_path(labtofacture.labour) %></td>
		    <td><%=h labtofacture.labour.print_date %></td>
		    <td><%=h labtofacture.labour.get_cout_total.display %></td>
		    <td><%=h labtofacture.value.display %></td>
		  </tr>
		<% end %>
	  <tr>
	    <td></td>
	    <td></td>
	    <td class=bold>Somme :</td>
	    <td class=bold><%=h @facture.sum_labours.display %></td>
	  </tr>
</table>
<%- end -%>

<% if (@facture.pulves.count > 0) %>
<h3>Traitements</h3>
  <tr class=table_data>
    <td><b>Pulve</b></td>
    <td><b>date</b></td>
    <td><b>cout</b></td>
    <td><b>contribution</b></td>
  </tr>
	<% @facture.putofactures.each do |putofacture| %>
	  <tr>
	    <td><%= link_to putofacture.pulve.name, edit_pulve_path(putofacture.pulve) %></td>
	    <td><%=h putofacture.pulve.print_date %></td>
	    <td><%=h putofacture.pulve.get_cout_total.display %></td>
	    <td><%=h putofacture.value.display %></td>
	  </tr>
	<% end %>
  <tr>
    <td></td>
    <td></td>
    <td class=bold>Somme :</td>
    <td class=bold><%=h @facture.sum_pulves %></td>
  </tr>
<% end %>


