<h3>Associations</h3>
<% unless @facture.charges? %>
		<p>Cette facture n'est associee a aucune charge de type Labour ou Pulve.</p>
	<% else %>	
<table>

	<% if (@facture.labours.count > 0) %>
	  <tr>
	    <td><b>Labour | </b></td>
	    <td><b>date | </b></td>
	    <td><b>cout | </b></td>
	    <td><b>contribution | </b></td>
	  </tr>
		<% @facture.labtofactures.each do |labtofacture| %>
		  <tr>
		    <td><%= link_to labtofacture.labour.name, edit_labour_path(labtofacture.labour) %> | </td>
		    <td><%=h labtofacture.labour.date %> | </td>
		    <td><%=h labtofacture.labour.get_cout_total %> | </td>
		    <td><%=h labtofacture.value %> | </td>
		  </tr>
		<% end %>
	  <tr>
	    <td> | </td>
	    <td> | </td>
	    <td>somme :</td>
	    <td><%=h @facture.sum_labours %> | </td>
	  </tr>
	<% end %>
	
	<% if (@facture.pulves.count > 0) %>
	  <tr>
	    <td><b>Pulve | </b></td>
	    <td><b>date | </b></td>
	    <td><b>cout | </b></td>
	    <td><b>contribution | </b></td>
	  </tr>
		<% @facture.putofactures.each do |putofacture| %>
		  <tr>
		    <td><%= link_to putofacture.pulve.name, edit_pulve_path(putofacture.pulve) %> | </td>
		    <td><%=h putofacture.pulve.date %> | </td>
		    <td><%=h putofacture.pulve.get_cout_total %> | </td>
		    <td><%=h putofacture.value %> | </td>
		  </tr>
		<% end %>
	  <tr>
	    <td> | </td>
	    <td> | </td>
	    <td>somme :</td>
	    <td><%=h @facture.sum_pulves %> | </td>
	  </tr>
	<% end %>

  <tr>
    <td> | </td>
    <td> | </td>
    <td><b>total :</b></td>
    <td><b><%=h @facture.sum_charges %> | </b></td>
  </tr>	
</table>
<% end %>
