<% title "Facture #{@facture.name}", false %>
<% if @facture.new_record? %>
	<%= link_to "Annuler", factures_url %>
<% end %>


<% if @facture.class == Diverse %>

<% titre = "Facture #{@facture.name} #{star_ascii(@facture)} + " %>
<% liens = link_to "Annuler", facture_url(@facture) %>
<% title = "<span class=title>#{titre}</span><span class=link>#{liens}</span>" %>

<div id="title_h1">
	<%= title %>
</div>

	<p>Cette facture est de type "Diverse"</p>
	<p>| <%= link_to "Liste des factures diverses", {:controller => 'factures', :action => 'diverses'} %> |</p>
	<%= render :partial => 'form_diverse' %>
	
	<h2>Factures associees</h2>
	<p>| <%= link_to "Ajouter une facture associee", new_facture_facdiv_url(@facture) %> |</p>
	<% @facdivs = @facture.facdivs %>
	<%= render :partial => 'list_facdivs' %>


<% elsif @facture.class == Reportable %>
<% titre = "Facture #{@facture.name} #{star_ascii(@facture)}" %>

<% liens = link_to "Annuler", facture_url(@facture) %>
<div id="title_h1">
	<span class=title><%= titre %></span>
	<span class=link><%= liens %></span>
</div>

	<p>Attention, cette facture est de type Reportable, elle ne devrait pas etre modifiee.</p>
	<%= render :partial => 'form_reportable' %>


<% elsif @facture.class == Report %>
<% titre = "Facture #{@facture.name} #{star_ascii(@facture)}" %>
<% liens = link_to "Annuler", facture_url(@facture) %>
<div id="title_h1">
	<span class=title><%= titre %></span>
	<span class=link><%= liens %></span>
</div>

	<p>
	| <%= link_to "Annuler", factures_url %>
	| <%= link_to "Voir la facture originale et les autres reports", {:action => 'show', :id => @facture.reportable} %> |</p>
	
	<%= render :partial => 'form' %>
<% else %>
	<% titre = "Facture #{@facture.name} #{star_ascii(@facture)}" %>
	<% lien1 = link_to "Annuler", facture_url(@facture) %>
	<% lien2 = link_to "Modifier en Reportable", {:action => 'new_debit_to_reportable', :debit_id => @facture.id} %>
	<div id="title_h1">
		<span class=title><%= titre %></span>
		<span class=link><%= lien1 %></span>
		<span class=link><%= lien2 %></span>
	</div>

	<%= render :partial => 'form' %>

<% end %>