<% title "Facture : #{@facture.name}" %>
<% if @facture.class == Diverse %>
	
	<p>Cette facture est de type "Diverse"</p>
	<p>| <%= link_to "Liste des factures diverses", {:controller => 'factures', :action => 'diverses'} %> |</p>
	<%= render :partial => 'form_diverse' %>
	
	<h2>Factures associees</h2>
	<p>| <%= link_to "Ajouter une facture associee", new_facture_facdiv_url(@facture) %> |</p>
	<% @facdivs = @facture.facdivs %>
	<%= render :partial => 'list_facdivs' %>

<% elsif @facture.class == Reportable %>

	<p>Attention, cette facture est un original, elle ne devrait pas etre modifiee.</p>
	<%= render :partial => 'form_reportable' %>

	<h2>Reports associes</h2>
	<p>| <%= link_to "Ajouter un report", {:action => 'new_report', :reportable_id => @facture} %> |</p>

	<%= render :partial => 'list_reports' %>

<% elsif @facture.class == Report %>

	<p>
	| <%= link_to "Annuler", factures_url %>
	| <%= link_to "Voir la facture originale et les autres reports", {:action => 'show', :id => @facture.reportable} %> |</p>
	
	<%= render :partial => 'form' %>
<% else %>

	<p>| <%= link_to "Annuler", facture_url(@facture) %>
	   | <%= link_to "Modifier en Reportable", {:action => 'new_debit_to_reportable', :debit_id => @facture.id} %> |</p>
	<%= render :partial => 'form' %>

<% end %>