<% titre = "Debit -> Reportable" %>
<% lien1 = link_to "Annuler", factures_url %>
<% unless @debit.nil? %>
	<% lien1 = link_to "Annuler", facture_url(@debit) %>
<% end %>

<div id="title_h1">
	<span class=title><%= titre %></span>
	<span class=link><%= lien1 %></span>
</div>

<% javascript :defaults, 'delegate' %>

<%= error_messages_for 	:facture, :factoparcelle,
						:header_message => "Problemes lors de l'enregistrement", 
						:message => "corriger les erreurs suivantes" 
%>
						
<% form_for @facture, :url => 'create_debit_to_reportable' do |f| -%>
<table class=form_layout>
	<tr class=form_layout_title>
		<td class=form_layout_title>Reportable</td>
	</tr>
	<tr class=form_layout_content>
		<td class=form_layout_content>
			<p>La facture sera transformee en Reportable et un Report associé sera créé.</p>

			<% unless @debit.nil? %>
				<% @debits.clear %>	
				<% @debits << @debit %>	
			<% end %>
			<table class=form_layout_content_table>
				<td><%= collection_select(:debit, :id, @debits, :id, :name_debit ) %></td>
			</table>
		</td>
	</tr>
	<tr class=form_layout_title>
		<td class=form_layout_title>Debit</td>
	</tr>
	<tr class=form_layout_content>
		<td class=form_layout_content>
			<p>Les champs suivants (Nom, Cout, etc) concernent le report créé</p>
			<table class=form_layout_content_table>
				<%= form_tr_text(f, 'Nom', :name) %>
				<%= form_tr_text(f, 'Cout', :cout) %>
				<%= form_tr_select(f, 'Type de facture', :factype_id, Factype.find(:all), :id, :name) %>
				<%= form_tr_check(f, 'Star', :star) %>
				<%= form_tr_check(f, 'ADU', :adu) %>
				<%= form_tr_text_area(f, 'Description', :desc, :size => "20x5") %>
			</table>
		</td>
	</tr>
</table>
<%= f.submit "Enregistrer" %>

<% end -%>

