<% title "Nouveau divers" %>
<p>
	| <%= link_to 'Annuler', {:action => 'diverses'} %> |
</p>
<%= error_messages_for 	:facture,
						:header_message => "Problemes lors de l'enregistrement", 
						:message => "corriger les erreurs suivantes" 
%>

<% form_for @facture, :url => 'create_diverse' do |f| -%>

<table>
<tr>
	<td><%= f.label :saison_id, "Campagne : " %></td>
	<td><%= f.collection_select (:saison_id, Saison.find(:all, :order => :name), :id, :name, :selected => current_saison_id ) %></td>
</tr>

<%= form_tr_text(f, 'Nom', :name) %>
<%= form_tr_text(f, 'Ref perso', :ref) %>
<%= form_tr_select(f, 'Categorie', :category_id, Category.factures_cats, :id, :name) %>
<%= form_tr_select(f, 'Comptabilisation', :factype_id, Factype.find(:all, :order => :name), :id, :name, :selected => Factype.find_by_name('total').id) %>
<%= form_tr_select(f, 'Classement', :factcat_id, Factcat.find(:all, :order => :name), :id, :name) %>
<%= form_tr_select(f, 'Prestataire', :user_id, User.find(:all, :order => :name), :id, :name, :selected => User.find_by_name("Aucun").id) %>

<tr>
	<td>Repere : </td>
	<td><%= f.label :star, "Star : " %><%= f.check_box :star %>
	 | <%= f.label :adu, "ADU : " %>
	<%= f.check_box :adu %></td>
</tr>
<%= form_tr_text_area(f, 'Infos', :desc, :size => "20x2") %>

</table>

<%= f.submit "Enregistrer" %>
<% end -%>


