<% title "Zones" %>

<%= render :partial => 'list' %>

<br />

<h2>modif de "<%= @zone.name %>"</h2>

<%= render :partial => 'form' %>

<%= link_to 'Annuler', zones_path %> | 
<%= link_to 'Nouveau', new_zone_path %>
<br />
<h2>Details</h2>
<%= render :partial => 'detail' %>
