<% title "Modif saison" %>

<% form_for(@saison) do |f| %>
  <%= f.error_messages %>
<table>
	<%= form_tr_text(f, 'Nom', :name) %>
	<%= form_tr_text(f, 'Date', :year) %>
</table>

    <%= f.submit 'Enregistrer' %>
  </p>
<% end %>

| <%= link_to 'Annuler', saisons_path %> |