!!! XML
!!!
- @bgcolor = {}
- @bgcolor[:adu] = "#ea9999"
- @bgcolor[:star] = "#ffe599"

%rows{:saison => @saison.year}
	%info
		%saison{:content => "#{@saison.year}"}
		%title{:content  => "Liste Factures par prestataire"}
		%nb_col{:content => "13"}

	%row{:color => "white", :bgcolor => "black", :fontweight => "bold", :fontsize => "12"}
		%column{:content => "id", :format => "@STRING@"}
		%column{:content => "type", :format => "@STRING@"}
		%column{:content => "date", :format => "dd/MM/yyyy"}
		%column{:content => "prestataire"}
		%column{:content => "cout ht", :halign => "right", :format => "#,##0"}
		%column{:content => "désignation"}
		%column{:content => "type"}
		%column{:content => "ref client", :halign => "right", :format => "@STRING@"}
		%column{:content => "ref", :halign => "right", :format => "@STRING@"}
		%column{:content => "description", :halign => "left", :format => "@STRING@"}
		%column{:content => "info", :halign => "left", :format => "@STRING@"}


	- @factures.each do |facture|
		- reportable_id = ""
		- cout = number_with_delimiter(facture.cout, :delimiter => "", :separator => ",")
		- reportable_id = facture.reportable_id if facture.class.eql?(Reportable)
		- type = facture.reportable_id if facture.class.eql?(Report)
		- type = "R" if facture.class.eql?(Reportable)
		- star = ''
		- adu = ''
		- bgcolor = "white"
		- bgcolor = @bgcolor[:star] if facture.star?
		- bgcolor = @bgcolor[:adu] if facture.adu?
		%row{}
			%column{:content => "#{facture.id}", :format => "@STRING@", :bgcolor => bgcolor}
			%column{:content => "#{type}", :format => "@STRING@"}
			%column{:content => "#{facture.date}", :format => "dd/MM/yyyy"}
			%column{:content => "#{facture.user.name}"}
			%column{:content => "#{cout}", :halign => "right", :format => "#,##0"}
			%column{:content => "#{facture.name}"}
			%column{:content => "#{facture.type}", :format => "@STRING@"}
			%column{:content => "#{facture.ref_client}", :halign => "right", :format => "@STRING@"}
			%column{:content => "#{facture.ref}", :halign => "right", :format => "@STRING@"}
			%column{:content => "#{facture.desc}", :halign => "left", :format => "@STRING@"}
			%column{:content => "#{facture.info}", :halign => "left", :format => "@STRING@"}
