<% title "Saisons" %>
<table class=table_data>
  <tr class=bold>
    <td>Campagne</td>
    <td>Recolte</td>
    <td></td>
    <% if admin? %>
    	<td></td>
	<% end %>
  </tr>

<% @saisons.each do |saison| %>
	<% if saison.selected? %>
		<tr class=bold>
	<% else %>
		<tr>
	<% end %>
	    <td><%=h saison.name %></td>
	    <td><%=h saison.year.to_s %></td>
	    <td><%= button_to "selectionner", :action => :select_saison, :id => saison %></td>
	    <td><%= link_to 'Modifier', edit_saison_path(saison) %></td>
	    <% if admin? %>
			<td><%= link_to_delete(Saison, saison.id) %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Creer une nouvelle saison', new_saison_path %>