	<tr>
		<th><%= link_to_function "Factures", "$('list_factures').toggle();" %></th>
<% (@colonnes.length * 2 + 5).times do %>
		<td></td>
<% end %>
	</tr>	
<% unless (((@factures.class == Array) && @factures.size == 0) || (@factures.nil?)) %>
	<% @factures.each do |facture| %>
		<% fact = @test.Tfactures[facture.id] %>
		<% nb_parcelles = facture.parcelles.length %>
		<% type = facture.class.to_s %>
		<tr id='list_factures'>
			<td class="left"><strong><%= type_first_letter(facture) %> - <%= facture.category.name %></strong></td>
			<td class="left">
				<%= link_popup_facture(facture) %>
				<% if facture.charges? %>
					*
				<% end %>
			</td>
			<td>
				<% unless facture.date.nil? %>
					<%= facture.date.to_s :dmy %>
				<% end %>
			</td>	
			<td>
				<%= nb_parcelles %> p - 
				<%= pretty(fact[:surface_total]) %> ha
			</td>
			<td><%= pretty(fact[:ha]) %></td>
			<td><%= pretty(fact[:total]) %></td>
	
	
		<% @colonnes.each do |colonne| %>
			<% cout_ha = pretty(fact[colonne.id][:ha]) %>
			<% cout_total = pretty(fact[colonne.id][:total]) %>
			<% td_class = odd(@test.Tcols[colonne.id][:rang]) %>
			<td class="<%= td_class %>"><%=h cout_ha %></td>
			<td class="<%= td_class %>"><%=h cout_total %></td>
		<% end %>
		</tr>
	<% end %>
	
	<!--Sous Total Facture "type" (maison, invest, agri) -->
	<% for type in @types %>
		<tr class="subtotal">
			<td class="left">Sous-total</td>
			<td class="left"><b><%= type.name %></b></td>
			<td></td>
			<td></td>
			<td><%= pretty(@test.Tfactures[:ha][type.name]) %></td>
			<td><%= pretty(@test.Tfactures[:total][type.name]) %></td>	
		<% @colonnes.each do |colonne| %>
			<% cout_ha = pretty(@test.Tcols[colonne.id][:charges][:ha][type.name]) %>
			<% cout_total = pretty(@test.Tcols[colonne.id][:charges][:total][type.name]) %>
			<% td_class = odd(@test.Tcols[colonne.id][:rang]) %>
				<td class="<%= td_class %>"><%= cout_ha %></td>
				<td class="<%= td_class %>"><%= cout_total %> </td>
		<% end %>
		</tr>
	<% end %>
	
	<!-- Total Facture -->
	<tr class="total">
		<td class="left"><b>Total Factures</b></td>
		<td></td>	
		<td></td>	
		<td></td>
		<td><%= pretty(@test.Tfactures[:ha][:sum]) %></td>
		<td><%= pretty(@test.Tfactures[:total][:sum]) %></td>	
	<% @colonnes.each do |colonne| %>
		<% cout_ha = pretty(@test.Tcols[colonne.id][:factures][:ha][:sum]) %>
		<% cout_total = pretty(@test.Tcols[colonne.id][:factures][:total][:sum]) %>
		<% td_class = odd(@test.Tcols[colonne.id][:rang]) %>
			<td class="<%= td_class %>_subtotal"><%= cout_ha %></td>
			<td class="<%= td_class %>_subtotal"><%= cout_total %></td>
	<% end %>
	</tr>
<% end %>

	