<table class="table_print">
	<tr>
		<td></td>
		<td></td>
		<td class="date" ></td>
		<td></td>
		<td></td>
		<td></td>
<% @colonnes.each do |colonne| %>
	<td class="<%= odd(@test.Tcols[colonne.id][:rang]) %>-head" colspan=2 ><b>
		<%=h @test.Tcols[colonne.id][:name] %>
	<% if (@test.Tcols[:col_model] == Parcelle) %>
		<br><%=h Parcelle.find(@test.Tcols[colonne.id][:id]).typeculture.name %>
	<% end %>		
	</b></td>
<% end %>
	</tr>	
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
<% @colonnes.each do |colonne| %>
		<td class="<%= odd(@test.Tcols[colonne.id][:rang]) %>-head" colspan=2 >
			<b><%=h @test.Tcols[colonne.id][:surface] %> Ha</b>
			<%#=h parcelle.typeculture.name %>
		</td>
<% end %>
	</tr>	
	<tr>
		<td class="left"><b></b></td>
		<td class="left"><b>nom</b></td>
		<td class="left"><b>date</b></td>
		<td class="left"><b>surface</b></td>
		<td class="left"><b>cout/ha</b></td>
		<td class="left"><b>total</b></td>
<% @colonnes.each do |colonne| %>
<% td_class = odd(@test.Tcols[colonne.id][:rang]) %>
		<td class="<%= td_class %>">c/ha</td>
		<td class="<%= td_class %>">Total</td>

<% end %>
	</tr>	
