	<tr>
		<th id="nom">Pulves</th>
		<% td_number(@colonnes.length, @show[:cout_ha], @show[:cout_total]).times do %>
				<td></td>
		<% end %>
	</tr>	
<% unless (((@pulves.class == Array) && @pulves.size == 0) || (@pulves.nil?)) %>
	<% @pulves.each do |pulve| %>
		<% dep = @test.Tpulves[pulve.id] %>
	
		<tr>
			<td class='left'><strong><%= pulve.category.name %></strong></td>
			<td class='left'><%= link_popup_pulve(dep) %></td>
			<td><%= pulve.date.to_s :dmy %></td>	
			<td>
				<%= pulve.parcelles.length %> p - 
				<%= pretty(dep[:surface_total]) %> ha
			</td>
			<td><%= pretty(dep[:ha_passage]) %>+<%= pretty(dep[:ha_produit]) %>=<%= pretty(dep[:ha]) %></td>
			<td><%= print_popup(pretty(dep[:total]), "@test.Tpulves[pulve.id][:total]") %></td>
		
		<% @colonnes.each do |colonne| %>
			<% cout_ha = pretty(dep[colonne.id][:ha]) %>
			<% cout_total = pretty(dep[colonne.id][:total]) %>
			<% td_class = odd(@test.Tcols[colonne.id][:rang]) %>			
			<% if @show[:cout_ha] %>
				<td class="<%= td_class %>"><%=h cout_ha %></td>
			<% end %>
			<% if @show[:cout_total] %>
				<td class="<%= td_class %>"><%=h cout_total %></td>
			<% end %>
		<% end %>
		</tr>
	<% end %>

	<tr class="total">
		<td>Total Pulve:	</td>
		<td></td>	
		<td></td>	
		<td></td>
		<td><%= pretty(@test.Tpulves[:ha][:sum]) %></td>
		<td><%= pretty(@test.Tpulves[:total][:sum]) %></td>	
	<% @colonnes.each do |colonne| %>
		<% cout_ha = pretty(@test.Tcols[colonne.id][:pulves][:ha][:sum]) %>
		<% cout_total = pretty(@test.Tcols[colonne.id][:pulves][:total][:sum]) %>
		<% td_class = odd(@test.Tcols[colonne.id][:rang]) %>
		<% if @show[:cout_ha] %>
			<td class="<%= td_class %>_subtotal"><%=h cout_ha %></td>
		<% end %>
		<% if @show[:cout_total] %>
			<td class="<%= td_class %>_subtotal"><%=h cout_total %></td>
		<% end %>
	<% end %>
	</tr>
	
<% end %>