	<tr>
		<th id="nom">Ventes</th>
		<% td_number(@colonnes.length, @show[:cout_ha], @show[:cout_total]).times do %>
				<td></td>
		<% end %>
	</tr>	

<% unless (@ventes.size == 0) %>

	<% @ventes.each do |vente| %>
		<% dep = @test.Tventes[vente.id] %>
	
		<tr>
			<td class="left"><b><%= vente.category.name %></b></td>
			<td class="left"><%= link_popup_vente(dep) %></td>
			<td><%= vente.date.to_s :dmy %></td>	
			<td><%= vente.parcelles.length %> p - <%= pretty(dep[:surface_total]) %> ha</td>
			<td><%= pretty(dep[:ha]) %></td>
			<td><%= print_popup(pretty(dep[:total]), "@test.Tventes[vente.id][:total]") %></td>
		
		<% @colonnes.each do |colonne| %>
			<% cout_ha = pretty(dep[colonne.id][:ha]) %>
			<% cout_total = pretty(dep[colonne.id][:total]) %>
			<% td_class = odd(@test.Tcols[colonne.id][:rang]) %>
			<% if @show[:cout_ha] %>
				<td class="<%= td_class %>"><%=h cout_ha %></td>
			<% end %>
			<% if @show[:cout_total] %>
				<td class="<%= td_class %>"><%=h cout_total %></td>
			<% end %>		<% end %>
		</tr>
	<% end %>

	<tr class="total">
		<td class="left"><b>Total Ventes</b></td>
		<td></td>	
		<td></td>	
		<td></td>
		<td><%= pretty(@test.Tventes[:ha][:sum]) %></td>
		<td><%= pretty(@test.Tventes[:total][:sum]) %></td>	
	<% @colonnes.each do |colonne| %>
		<% cout_ha = pretty(@test.Tcols[colonne.id][:ventes][:ha][:sum]) %>
		<% cout_total = pretty(@test.Tcols[colonne.id][:ventes][:total][:sum]) %>
		<% td_class = odd(@test.Tcols[colonne.id][:rang]) %>
		<% if @show[:cout_ha] %>
			<td class="<%= td_class %>_subtotal"><%=h cout_ha %></td>
		<% end %>
		<% if @show[:cout_total] %>
			<td class="<%= td_class %>_subtotal"><%=h cout_total %></td>
		<% end %>	<% end %>
	</tr>
	
<% end %>
