<% title "Analytic" %>

<%= debug(@res.saisons) %> | 

<%= link_to "Export Excel", :controller => "print", :action => 'export' %> | 

<%= link_to_function "Affichage", update_page { |page| page[:search].toggle } %>

</p> <div id="search" style="display: none;">
<%= render :partial => 'search' %>
</div>


<% unless @display == 0 %>
	<%= render(:partial => "print_basic") %>
<% end %>

