- if cat.code.eql?('produits_phyto')
  = render(:partial => "calculate/categories/c21_produits")
- name = "#{factcat.code}#{print_way(cat)}"
%tr{:class => "level-#{cat.depth}_#{name}"}
  %td.col1
  %td.col2
    = indent_cat_name(cat.depth-2, "")
    %b= link_to cat.name, "javascript: toggleCat('#{name}');" , {:name => name}
  %td.col3
  %td.saison
    %span.green= @test.res.get_saison_line(@test.sid, :factures, :category, cat.id, :ha).display(:z => true)
  %td.saison
    %span.green= @test.res.get_saison_line(@test.sid, :factures, :category, cat.id, :total).display(:z => true)
  - rang = 0
  - @colonnes.each do |colonne|
    - rang += 1
    - cout_ha = @test.res.get_line(@test.sid, @test.c, colonne.id, :factures, :category, cat.id, :ha).display(:z => true)
    - cout_total = @test.res.get_line(@test.sid, @test.c, colonne.id, :factures, :category, cat.id, :total).display(:z => true)
    %td{:class => "color_culture_#{colonne.code}"}
      %span.green= cout_ha
    %td{:class => "color_culture_#{colonne.code}"}
      %span.green= cout_total
- if cat.has_children?
  - cat.children.each do |cat|
    = render(:partial => "calculate/categories/c12_factures_cat", :locals => { :cat => cat, :factcat => factcat })
- else
  - cat.factures.find_by_saison(:all).each do |facture|
    = render(:partial => "calculate/categories/c13_factures_elt", :locals => {:cat => cat, |
      :factcat => factcat,                                                                 |
      :facture => facture,                                                                 |
      :name => name })                                                                     |
