<tr name=visible class="level-3_<%= @factcat.code %>.produits_used">
	<td class=col1></td>
	<td class=col2><b>
	<%= indent_cat_name(cat.depth, '') %><%= link_to cat.name, "javascript: toggleLevel4('level-4_#{@factcat.code}.produits_used.#{cat.code}');" %></b></td>
	<td class=col3></td>
	<td class="saison"><%= @test.res.get_saison_line(@test.sid, :putoproduits, :category, cat.id, :ha).display(:z => true) %></td>
	<td class="saison"><%= @test.res.get_saison_line(@test.sid, :putoproduits, :category, cat.id, :total).display(:z => true) %></td>
	<% rang = 0 %>
	<% @colonnes.each do |colonne| %>
		<% rang += 1 %>
		<% cout_ha = @test.res.get_line(@test.sid, @test.c, colonne.id, :putoproduits, :category, cat.id, :ha).display(:z => true) %>
		<% cout_total = @test.res.get_line(@test.sid, @test.c, colonne.id, :putoproduits, :category, cat.id, :total).display(:z => true) %>
		<td class="color_culture_<%= colonne.code %>"><%=h cout_ha %></td>
		<td class="color_culture_<%= colonne.code %>"><%=h cout_total %></td>
	<% end %>
</tr>

<% if cat.has_children? %>
	<% cat.children.each do |cat| %>
	    <%= render(:partial => "calculate/categories/c2_cat_children", :locals => { :cat => cat, :factcat => factcat }) %>
	<% end %>
<% else %>
<% logger.error "cat #{cat.name}" %>
	<% cat.produits.find_by_saison(:all).each do |produit| %>
		<% logger.error "\tproduit #{produit.name}" %>
		<%= render(:partial => "calculate/categories/c2_cat_produits", :locals => { :cat => cat, :factcat => factcat, :produit => produit }) %>
	<% end %>
<% end %>