<tr class="level-2_vente">
	<td class=col1></td>
	<td class=col2><b><%= link_to cat.name, "javascript: toggleLevel3('vente.#{cat.code}');" %></b></td>
	<td class=col3></td>
	<td class="saison"><span class=green><%= @test.res.get_saison_line(@test.sid, :ventes, :category, cat.id, :ha).display(:z => true) %></span></td>
	<td class="saison"><span class=green><%= @test.res.get_saison_line(@test.sid, :ventes, :category, cat.id, :total).display(:z => true) %></span></td>
	<% rang = 0 %>
	<% @colonnes.each do |colonne| %>
		<% rang += 1 %>
		<% cout_ha = @test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :category, cat.id, :ha).display(:z => true) %>
		<% cout_total = @test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :category, cat.id, :total).display(:z => true) %>
		<td class="color_culture_<%= colonne.code %>"><span class=green><%= cout_ha %></span></td>
		<td class="color_culture_<%= colonne.code %>"><span class=green><%= cout_total %></span></td>
	<% end %>
</tr>

<% if cat.has_children? %>
	<% cat.children.each do |cat| %>
	    <%= render(:partial => "calculate/categories/c32_ventes_cat", :locals => { :cat => cat, :factcat => factcat }) %>
	<% end %>
<% else %>
	<% cat.ventes.find_by_saison(:all).each do |vente| %>
		<%= render(:partial => "calculate/categories/c33_ventes_elts", :locals => { :cat => cat, :vente => vente }) %>
	<% end %>
<% end %>


