	<tr>
		<th id="nom">Benefices</th>
		<td></td>	
		<% if @show[:date_surface] %> 
			<td></td>	
			<td></td>	
		<% end %>
		<td class="saison"></td>
		<td class="saison"></td>
		<% td_number_after_saison(@colonnes.length, @show[:cout_ha], @show[:cout_total]).times do %>
			<td></td>
		<% end %>	</tr>
	<tr class="total">
		<td class="left">Total Benefs:	</td>
		<td></td>	
		<% if @show[:date_surface] %> 
			<td></td>	
			<td></td>	
		<% end %>
		<td class="saison"><%= @test.res.get_other_line_for_saison(@test.sid, :resultats, :benef, :ha).display %></td>
		<td class="saison"><%= @test.res.get_other_line_for_saison(@test.sid, :resultats, :benef, :total).display %></td>	
		<% rang = 0 %>
	<% @colonnes.each do |colonne| %>
		<% rang += 1 %>
		<% cout_ha = @test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :benef, :ha).display %>
		<% cout_total = @test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :benef, :total).display %>
		<% if @show[:cout_ha] %>
			<td class="<%= odd(rang) %>_subtotal"><%=h cout_ha %></td>
		<% end %>
		<% if @show[:cout_total] %>
			<td class="<%= odd(rang) %>_subtotal"><%=h cout_total %></td>
		<% end %>	<% end %>
	</tr>

</table>
<br>
