<!-- <div id='search'> -->
<% form_tag :action => 'categories' do %> 
	<%= select_tag(:column, options_for_select(%w{ Typeculture Parcelle Zone }, params[:column])) %>	<br>
	<%= check_box_tag 'show[pulves]', value = true, checked = @show[:pulves], options = {:id => 'show[pulves]'} %>
	<label for='show[pulves]'>Pulves</label><br>
	
	<%= check_box_tag 'show[labours]', value = true, checked = @show[:labours], options = {:id => 'show[labours]'} %>
	<label for='show[labours]'>Labours</label><br>
	
	<%= check_box_tag 'show[cout_total]', value = false, checked = @show[:cout_total], options = {:id => 'show[cout_total]'} %>
	<label for='show[cout_total]'>Cout Total</label><br>
	<%= check_box_tag 'show[cout_ha]', value = false, checked = @show[:cout_ha], options = {:id => 'show[cout_ha]'} %>
	<label for='show[cout_ha]'>Cout Ha</label><br>
	
	<%= check_box_tag 'show[total_type]', value = false, checked = @show[:total_type], options = {:id => 'show[total_type]'} %>
	<label for='show[total_type]'>Total Type</label><br>
	<%= check_box_tag 'show[total_cat]', value = false, checked = @show[:total_cat], options = {:id => 'show[total_cat]'} %>
	<label for='show[total_cat]'>Total Categorie</label><br>

	<%= submit_tag :'Mettre a jour' %>
<% end %>

<!-- </div> -->