	<tr>
		<td class=col1><%= link_to 'Vente', "javascript: toggleLevel2('vente');" %></td>
		<td class=col2></td>
		<td class=col3></td>
		<td class="saison"><%= @test.res.get_other_line_for_saison(@test.sid, :resultats, :total_ventes, :ha).display(:z => true) %></td>
		<td class="saison"><%= @test.res.get_other_line_for_saison(@test.sid, :resultats, :total_ventes, :total).display(:z => true) %></td>	
		<% rang = 0 %>
		<% @colonnes.each do |colonne| %>
			<% rang += 1 %>
			<% cout_ha = @test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :total_ventes, :ha).display(:z => true) %>
			<% cout_total = @test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :total_ventes, :total).display(:z => true) %>
			<td class="<%= odd(rang) %>_subtotal"><%=h cout_ha %></td>
			<td class="<%= odd(rang) %>_subtotal"><%=h cout_total %></td>
		<% end %>
	</tr>

	<% categories = Category.find(:all, :conditions => {:upcategory_id => Upcategory.find_by_name('vente').id }) %>
	<% categories.each do |cat| %>
		<tr class="level-2_vente">
			<td class=col1></td>
			<td class=col2><%= link_to cat.name, "javascript: toggleLevel3('level-3_vente.#{cat.code}');" %></td>
			<td class=col3></td>
			<td class="saison"><span class=green><%= @test.res.get_saison_line(@test.sid, :ventes, :category, cat.id, :ha).display(:z => true) %></span></td>
			<td class="saison"><span class=green><%= @test.res.get_saison_line(@test.sid, :ventes, :category, cat.id, :total).display(:z => true) %></span></td>
			<% rang = 0 %>
			<% @colonnes.each do |colonne| %>
				<% rang += 1 %>
				<% cout_ha = @test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :category, cat.id, :ha).display(:z => true) %>
				<% cout_total = @test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :category, cat.id, :total).display(:z => true) %>
				<td class="<%= odd(rang) %>"><span class=green><%=h cout_ha %></span></td>
				<td class="<%= odd(rang) %>"><span class=green><%=h cout_total %></span></td>
			<% end %>
		</tr>
		<% cat.ventes.each do |vente| %>
		<% datas = @test.res.get_saison_line_datas(@test.sid, :ventes, vente.id) %>
			<tr class="level-3_vente.<%= cat.code %>">
				<td class=col1></td>
				<td class=col2></td>
				<td class=col3><%= link_popup_vente(datas[:id]) %></td>
				<td class="saison"><%= @test.res.get_saison_line(@test.sid, :ventes, :all, vente.id, :ha).display(:z => true) %></td>
				<td class="saison"><%= @test.res.get_saison_line(@test.sid, :ventes, :all, vente.id, :total).display(:z => true) %></td>		
				<% rang = 0 %>
				<% @colonnes.each do |colonne| %>
					<% rang += 1 %>
					<% cout_ha = @test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :all, vente.id, :ha).display(:z => true) %>
					<% cout_total = @test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :all, vente.id, :total).display(:z => true) %>
					<td class="<%= odd(rang) %>"><%=h cout_ha %></td>
					<td class="<%= odd(rang) %>"><%=h cout_total %></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>


