	<tr>
		<td class=col1><b><%= link_to "Chiffre d'affaire", "javascript: toggleLevel2('vente');" %></b></td>
		<td class=col2></td>
		<td class=col3></td>
		<td class="saison"><b><%= delim(@test.res.get_other_line_for_saison(@test.sid, :resultats, :total_ventes, :ha)) %></b></td>
		<td class="saison"><b><%= delim(@test.res.get_other_line_for_saison(@test.sid, :resultats, :total_ventes, :total)) %></b></td>
		<% rang = 0 %>
		<% @colonnes.each do |colonne| %>
			<% rang += 1 %>
			<% cout_ha = delim(@test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :total_ventes, :ha)) %>
			<% cout_total = delim(@test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :total_ventes, :total)) %>
			<td class="color_culture_<%= colonne.code %>_strong"><b><%= cout_ha %></b></td>
			<td class="color_culture_<%= colonne.code %>_strong"><b><%= cout_total %></b></td>
		<% end %>
	</tr>

	<% categories = Category.find(:all, :conditions => {:upcategory_id => Upcategory.find_by_name('vente').id }) %>
	<% categories.each do |cat| %>
		<tr class="level-2_vente">
			<td class=col1></td>
			<td class=col2><b><%= link_to cat.name, "javascript: toggleLevel3('vente.#{cat.code}');" %></b></td>
			<td class=col3></td>
			<td class="saison"><span class=green><%= delim(@test.res.get_saison_line(@test.sid, :ventes, :category, cat.id, :ha)) %></span></td>
			<td class="saison"><span class=green><%= delim(@test.res.get_saison_line(@test.sid, :ventes, :category, cat.id, :total)) %></span></td>
			<% rang = 0 %>
			<% @colonnes.each do |colonne| %>
				<% rang += 1 %>
				<% cout_ha = delim(@test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :category, cat.id, :ha)) %>
				<% cout_total = delim(@test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :category, cat.id, :total)) %>
				<td class="color_culture_<%= colonne.code %>"><span class=green><%= cout_ha %></span></td>
				<td class="color_culture_<%= colonne.code %>"><span class=green><%= cout_total %></span></td>
			<% end %>
		</tr>
		<% cat.ventes.find_by_saison(:all).each do |vente| %>
			<% datas = @test.res.get_saison_line_datas(@test.sid, :ventes, vente.id) %>
			<tr class="level-3_vente.<%= cat.code %>">
				<td class=col1></td>
				<td class=col2></td>
				<td class=col3><%= link_popup_vente(datas[:id]) %></td>
				<td class="saison"><%= delim(@test.res.get_saison_line(@test.sid, :ventes, :all, vente.id, :ha)) %></td>
				<td class="saison"><%= delim(@test.res.get_saison_line(@test.sid, :ventes, :all, vente.id, :total)) %></td>		
				<% rang = 0 %>
				<% @colonnes.each do |colonne| %>
					<% rang += 1 %>
					<% cout_ha = delim(@test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :all, vente.id, :ha)) %>
					<% cout_total = delim(@test.res.get_line(@test.sid, @test.c, colonne.id, :ventes, :all, vente.id, :total)) %>
					<td class="color_culture_<%= colonne.code %>"><%= cout_ha %></td>
					<td class="color_culture_<%= colonne.code %>"><%= cout_total %></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>









