<table class="table_data table-autosort:1 table-stripeclass:alternate">
	<thead>
		<tr class=bold>
			<th class="table-sortable:numeric table-sortable">Id</th>
			<th class="table-sortable:default table-sortable">Type</th>
			<th class="table-sortable:default table-sortable">Categorie Superieure</th>
			<th class="table-sortable:default table-sortable">Nom</th>
			<% if admin? %>
		    	<th></th>
			<% end %>
		</tr>
		<tr class=bold>
	    	<th></th>
	    	<th>
				<select onchange="Table.filter(this,this)">
					<option value="">-</option>
					<option value="Agricole">Agricole</option>
					<option value="Maison">Maison</option>
					<option value="Investissement">Investissement</option>
			</th>
	    	<th>
				<select onchange="Table.filter(this,this)">
					<option value="">-</option>
					<% Upcategory.all.each do |upcat| %>
						<option value="<%= upcat.name %>"><%= upcat.name %></option> %>
					<% end %>
			</th>
		
			<th><input name="filter" size="8" onkeyup="Table.filter(this,this)"></th>
			<% if admin? %>
		    	<th></th>
			<% end %>
		</tr>
		
	<thead>
	<tbody>
	<% for category in @categories %>
	  <tr>
	    <td><%=h category.id %></td>
	    <td><%=h category.factcat.name %></td>
	    <td><%=h category.upcategory.name %></td>
	    <td><%=h category.name %></td>
		<% if admin? %>
		    <td><%= link_to_edit(category.class, category.id) %></td>
		    <!-- <td><%= link_to_delete(category.class, category.id) %></td> -->
		<% end %>
	  </tr>
	<% end %>
	<tbody>
</table>

