<table class=table_data>
  <tr class=bold>
    <td>Type</td>
    <td>Categorie Superieure</td>
    <td>Nom</td>
	<% if admin? %>
    	<td></td>
	<% end %>
  </tr>

<% for category in @categories %>
  <tr>
	<% if category.upcategory.name.eql?("facture") %>
    	<td><%=h category.factcat.name %></td>
	<% else %>
    	<td></td>
	<% end %>
    <td><%=h category.upcategory.name %></td>
    <td><%=h category.name %></td>
    <td><%= link_to 'Modifier', edit_category_path(category) %></td>
	<% if admin? %>
    	<td><%= link_to 'Supprimer', category, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>
