<% titre = "Modif Categorie #{@category.name}" %>
<% lien1 = link_to "Annuler", categories_url %>
<div id="title_h1">
	<span class=title><%= titre %></span>
	<span class=link><%= lien1 %></span>
</div>


<% form_for(@category) do |f| %>
  <%= f.error_messages %>

<table class=form_layout>
	<tr class=form_layout_content>
		<td colspan=2 class=form_layout_content>
			<table>
				<%#= tr_text('Type', @category.get_factcat_from_category.try(name)) %>
				<%#= tr_text('categorie superieure', @category.parent.name) %>
				<%= form_tr_text(f, 'Nom', :name) %>
				<%= form_tr_text(f, 'Code', :code) %>
				<%= form_tr_select_cat_from_root(f, @category.class.to_s.downcase, Category.roots, 'Catégorie superieur', :parent_id, :id, :name, @category, options = {:root => true}) %>
				
			</table>
		</td class=form_layout_content>
	</tr>
</table>

<%= f.submit "Enregistrer" %>

<% end %>
