<% titre = "Modif Categorie #{@category.name}" %>
<% lien1 = link_to "Annuler", categories_url %>
<div id="title_h1">
	<span class=title><%= titre %></span>
	<span class=link><%= lien1 %></span>
</div>
<% @category.path.each do |cat| %>
<%= cat.name %>>
<% end %>
<br><br>



<% form_for(@category) do |f| %>
  <%= f.error_messages %>

<table class=form_layout>
	<tr class=form_layout_content>
		<td colspan=2 class=form_layout_content>
			<table>
				<%#= tr_text('Type', @category.get_factcat_from_category.try(name)) %>
				<%#= tr_text('categorie superieure', @category.parent.name) %>
				<%= form_tr_text(f, 'Nom', :name) %>
				<%= form_tr_text(f, 'Code', :code) %>
				<%= form_tr_select_cat_from_root(f, @category.class.to_s.downcase, Category.roots, 'Catégorie superieur', :parent_id, :id, :name, @category, options = {:root => true}) %>
				
			</table>
		</td class=form_layout_content>
	</tr>
</table>

<%= f.submit "Enregistrer" %>
<% end %>

ancestors: <%= @category.ancestor_ids.to_s %>

<br><br><%= @category.descendants.at_depth(3).count %> descendants.at_depth(3):
<% @category.descendants.at_depth(3).each do |cat| %>
<%= cat.name %>>
<% end %>

<br><br><%= @category.ancestors.count %> ancestors:
<% @category.ancestors.each do |cat| %>
<%= cat.name %>>
<% end %>

<br><br><%= @category.subtree.count %> Subtree:
<% @category.subtree.each do |cat| %>
<%= cat.name %>>
<% end %>

<br><br><%= @category.descendants.count %> Descendants:
<% @category.descendants.each do |cat| %>
<%= cat.name %>>
<% end %>

<br><br><%= Category.siblings_of(@category).count %> Siblings:
<% Category.siblings_of(@category).each do |cat| %>
<%= cat.name %>>
<% end %>



