<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for category in @categories %>
  <tr>
    <td><%=h category.upcategory.name %></td>
    <td><%=h category.name %></td>
    <td><%= link_to 'Voir', category %></td>
    <td><%= link_to 'Modifier', edit_category_path(category) %></td>
	<% if session[:admin] %>
    	<td><%= link_to 'Supprimer', category, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle categorie', new_category_path %>
