<% title "Nouvelle Categorie" %>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
	<%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
		Type : 
		<%= form_tr_select(f, 'Category Sup', 
							:upcategory_id, 
							Upcategory.find(:all, :order => :name), 
							:id, :name) %>
  </p>
  <p>
		<%= form_tr_select(f, 'Factcat', 
							:factcat_id, 
							Factcat.find(:all, :order => :name), 
							:id, :name) %>
  </p>
  <p>
    <%= f.submit "Creer" %>
  </p>
<% end %>

<%= link_to 'Annuler', categories_path %>