<div id="bloc_left">
<br>
  <strong>Resultat</strong >
  <ul>
  <%- ['print', 'calculate'].each do |controller| -%>	
    <li><%= link_to controller, :controller => controller, :action => 'all'  %></li>
  <%- end -%>
  </ul>
  <strong>Charges</strong>
  <ul>
    <%- [Facture, Labour, Pulve, Produit].each do |model| -%>
    <li>
      <%= link_to model.to_s.pluralize, eval("#{model.to_s.pluralize.downcase}_url") %>  
			<%= link_to "New", eval("new_#{model.name.downcase}_url")  %>
    </li>
    <%- end -%>
  </ul>
  <strong>Recettes</strong>
  <ul>
    <%- [Vente].each do |model| -%>
    <li>
      <%= link_to model.to_s.pluralize, eval("#{model.to_s.pluralize.downcase}_url") %>  
			<%= link_to "New", eval("new_#{model.name.downcase}_url")  %>
    </li>
    <%- end -%>
  </ul>
  <strong>Données</strong>
  <ul>
    <%- [Zone, Parcelle, Typeculture, Category, Saison, User].each do |model| -%>
    <li><%= link_to model.to_s.pluralize, eval("#{model.to_s.pluralize.downcase}_url")  %></li>
    <%- end -%>
  </ul>
  <% if session[:admin] %>
	  <strong>Admin</strong>
	  <ul>
	    <%- [Verif, Setting, Myuser].each do |model| -%>
	    <li><%= link_to model.to_s.pluralize, eval("#{model.to_s.pluralize.downcase}_url")  %></li>
	    <%- end -%>
	  </ul>
  <%- end -%>
</div>
