<div id="bloc_left">

<% form_remote_tag  do %> 
	selectA: <%= select_tag(:select_saison_id, options_for_select(Saison.all.collect {|p| [ p.name, p.id ] }, 	params[:new_saison_id]), :onchange => call_update_saison()) %>

<% end %>
	
	
<br>
  <strong>Resultat</strong >
  <ul>
  <%- ['all', 'categories'].each do |action| -%>	
    <li><%= link_to action, :controller => :calculate, :action => action  %></li>
  <%- end -%>
  </ul>
  <strong>Factures</strong>
  <ul>
	<li><%= link_to "Nouveau", 	:controller => :factures, :action => :new  %></li>
	<li><%= link_to "Liste", 	:controller => :factures  %></li>
	<li><%= link_to "Payées", 	:controller => :factures, :action => :index_paye %></li>
  </ul>
  <strong>Ventes</strong>
  <ul>
	<li><%= link_to "Nouveau", 	:controller => :ventes, :action => :new  %></li>
	<li><%= link_to "Liste", 	:controller => :ventes  %></li>
  </ul>
  <strong>Travaux</strong>
  <ul>
    <%- [Labour, Pulve, Produit].each do |model| -%>
    <li>
      <%= link_to model.to_s.pluralize, eval("#{model.to_s.pluralize.downcase}_url") %>  
			<%= link_to "New", eval("new_#{model.name.downcase}_url")  %>
    </li>
    <%- end -%>
  </ul>
  <strong>Données</strong>
  <ul>
    <%- [Zone, Parcelle, Typeculture, Category, Saison].each do |model| -%>
    <li><%= link_to model.to_s.pluralize, eval("#{model.to_s.pluralize.downcase}_url")  %></li>
    <%- end -%>
	<li><%= link_to "Clients", 	:controller => :users  %></li>
  </ul>
  <% if session[:admin] %>
	  <strong>Admin</strong>
	  <ul>
	    <%- [Verif, Setting, Myuser].each do |model| -%>
	    <li><%= link_to model.to_s.pluralize, eval("#{model.to_s.pluralize.downcase}_url")  %></li>
	    <%- end -%>
	  </ul>
  <%- end -%>
</div>
