- @factcats.each do |factcat|
  - @factcat = factcat
  - @line +=1
  %tr.level-1
    %td.col0= xls_sum_cat_facture(@line, factcat)
    %td.col1 
      %b
        = factcat.name
    %td.col2
    %td.col3
    - if factcat.id.eql?(Category.root_agri.id)
      %td.saison
        %b= delim(@test.res.get_other_line_for_saison(@test.sid, :resultats, :total_charges, :ha))
      %td.saison
        %b= delim(@test.res.get_other_line_for_saison(@test.sid, :resultats, :total_charges, :total))
    - else
      %td.saison
        %b= delim(@test.res.get_saison_line(@test.sid, :factures, :factcat, factcat.id, :ha))
      %td.saison
        %b= delim(@test.res.get_saison_line(@test.sid, :factures, :factcat, factcat.id, :total))
    - rang = 0
    - @colonnes.each do |colonne|
      /
        get_other_line(..., ::resultats, :total_charges, ...)	equivaut a
        get_line(..., :factures, :factcat, factcat.id, ...) + les produits utilises
      - rang += 1
      - if factcat.id.eql?(Category.root_agri.id)
        - cout_ha = delim(@test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :total_charges, :ha))
        - cout_total = delim(@test.res.get_other_line(@test.sid, @test.c, colonne.id, :resultats, :total_charges, :total))
      - else
        - cout_ha = delim(@test.res.get_line(@test.sid, @test.c, colonne.id, :factures, :factcat, factcat.id, :ha))
        - cout_total = delim(@test.res.get_line(@test.sid, @test.c, colonne.id, :factures, :factcat, factcat.id, :total))
      %td{:class => "color_culture_#{colonne.code}"}
        %b= h cout_ha
      %td{:class => "color_culture_#{colonne.code}"}
        %b= h cout_total
  - categories = factcat.children
  - categories.each do |cat|
    = render(:partial => "calculate/xls/c12_factures_cat", :locals => { :cat => cat, :factcat => factcat })
  - @line +=1
  %tr
