<!-- 1 ere ligne -->
<% @line +=1 %>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td colspan=2 class="saison-head-name">Total saison</td>

<% rang = 0 %>
<% @colonnes.each do |colonne| %>
	<% rang += 1 %>
	<td class="color_culture_<%= colonne.code %>_strong" colspan=2>
		<%=h  @test.res.get_colonne_datas(@test.sid, @test.c, colonne.id, :name) %> <br>
		<!-- [<%=h colonne.id %>] -->
	</td>
<% end %>
</tr>	

<!-- 2eme ligne -->
<% @line +=1 %>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="saison-head-surface"><%=h delim_xls(@test.res.get_saison_datas(@test.sid, :surface)) %></td>
	<td class="saison-head-surface">Ha</td>
		
<% rang = 0 %>
<% @colonnes.each do |colonne| %>
	<% rang += 1 %>
	<td class="color_culture_<%= colonne.code %>_strong"><b>
		<%=h delim_xls(@test.res.get_colonne_datas(@test.sid, @test.c, colonne.id, :surface)) %>
	</b></td>
	<td class="color_culture_<%= colonne.code %>_strong"><b>Ha</b></td>
<% end %>
</tr>	

<!-- 3eme ligne -->
<% @line +=1 %>
<tr>
	<td class="left"><b></b></td>
	<td class="left"><b></b></td>
	<td></td>
	<td></td>
	<td class=date><b></b></td>
	<td class="saison" class="left"><b><%= euro_ha %></b></td>
	<td class="saison" class="left"><b>Total (<%= euro %>)</b></td>
<% rang = 0 %>
<% @colonnes.each do |colonne| %>
	<% rang += 1 %>
	<td class="color_culture_<%= colonne.code %>"><b><%= euro_ha %></b></td>
	<td class="color_culture_<%= colonne.code %>"><b>Total (<%= euro %>)</b></td>
<% end %>
</tr>	
